@{
    ViewData["Title"] = "購物車";
}

@section Styles{
    <link href="~/css/cart.css" rel="stylesheet" />
}

<div id="app" class="container">
    <h1>購物車</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead class="info">
            <tr>
                <th><input type="checkbox" v-on:click="selectAll" v-model="allCheck" /></th>
                <th>圖片</th>
                <th>商品名稱</th>
                <th>數量</th>
                <th>總金額</th>
                <th>使用時間</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="cart" v-for="(c,index) in cartItem" :key="c.cartId">
            <tr class="cart-item">
                <td align="center" valign="middle"><input class="inp-cart" type="checkbox" v-model="c.checked" /></td>
                <td align="center" valign="middle"><img style="width:100px;height:100px;" src="~/lib/image/mountain.jpeg" /></td>
                <td align="center" valign="middle">{{c.cartName}}</td>
                <td align="center" valign="middle">{{c.cartQuantity}}</td>
                <td align="center" valign="middle">{{c.cartPrice | formatCurrency}}</td>
                <td align="center" valign="middle">{{c.cartDate | formatDate}}</td>
                <td align="center" valign="middle"><button class="btn btn-delete danger" v-on:click="deleteModal(c)" v-bind:disabled="!c.checked" data-bs-toggle="modal" data-bs-target="#deleteItem"><i class="fa-solid fa-trash-can"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class="total">
        <div class="calculate">
            <span class="total-title">合計：</span>
            <input class="total-price" v-bind:value="totalPrice(cartItem) | formatCurrency" readonly />
            <button class="btn theme_btn button_hover info" v-on:click="addOrder(cartItem)">確認訂購資訊</button>
        </div>
    </div>

    @* 刪除提示modal *@
    <div class="modal fade" id="deleteItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header info">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">刪除商品</h1>
                </div>
                <div class="modal-body">
                    <h4>您確定要刪除所選商品嗎?</h4>
                    <div>商品名稱:{{remove.cartName}}</div>
                    <div>數量:{{remove.cartQuantity}}</div>
                    <div>總金額:{{remove.cartPrice | formatCurrency}}</div>
                    <div>使用日期:{{remove.cartDate | formatDate}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-delete danger" v-on:click="removeItem">刪除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let baseAddress = "https://localhost:7025";
        var app = new Vue({
            el: '#app',
            data: {
                cartItem: [],
                allCheck: false,
                resultPrice: 0,
                remove: [],
                orderId: "",
                orderDetail: []
            },
            mounted: function () {
                let _this = this;
                fetch(`/api/CartApi/GetCart`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.cartItem = data.map(x => ({ ...x, checked: false }));
                    }).catch(error => {
                        alert(error);
                    })
            },
            filters: {
                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                },

                //貨幣格式
                formatCurrency: function (val) {
                    if (typeof val !== "number") return val;
                    return val.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 });
                }
            },
            methods: {
                //刪除modal
                deleteModal: function (model) {
                    let _this = this;
                    _this.remove = Object.assign({}, model)
                },
                //刪除商品項目
                removeItem: function (model) {
                    let _this = this;
                    fetch(`/api/CartApi/RemoveFromCart`,
                        {
                            method: "DELETE",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(_this.remove)
                        }).then(response => {
                            if (response.ok) alert("商品項目刪除成功!");
                            location.href = "/cart";
                        }).catch(error => {
                            alert("商品項目刪除失敗!");
                        })
                },

                //加至訂單
                addOrder: function (model) {
                    let _this = this;
                    let selectedItems = model.filter(i => i.checked);

                    if (selectedItems.length === 0) {
                        alert("未選擇商品項目");
                    } else {
                        for (var i = 0; i < _this.cartItem.length; i++) {
                            if (model[i].checked == true) {
                                let orderData = {
                                    odname: model[i].cartName,
                                    planId: model[i].planId,
                                    quantity: model[i].cartQuantity,
                                    unitPrice: model[i].cartPrice
                                };
                                _this.orderDetail.push(orderData);
                            }
                        }
                        var form = document.createElement("form");
                        form.method = "post";
                        form.action = "/ConfirmTheOrder/Index";
                        var inp = document.createElement("input");
                        inp.type = "hidden";
                        inp.value = JSON.stringify(_this.orderDetail);
                        inp.name = "key";
                        form.append(inp);
                        document.getElementsByTagName("body")[0].append(form);
                        form.submit();
                    }
                },

                //全選
                selectAll: function () {
                    let _this = this;
                    if (!_this.allCheck) {
                        for (var i = 0; i < _this.cartItem.length; i++) {
                            var check = _this.cartItem[i].checked = true;
                        }
                        return check;
                    } else {
                        for (var i = 0; i < _this.cartItem.length; i++) {
                            var check = _this.cartItem[i].checked = false;
                        }
                        return check;
                    }
                },

                //合計
                totalPrice: function (model) {
                    let _this = this;
                    let total = 0;
                    for (var i = 0; i < _this.cartItem.length; i++) {
                        if (model[i].checked == true) {
                            total = total + model[i].cartPrice
                        }
                    }
                    return total;
                }
            }
        })
    </script>
}