thead tr th {
    font-size: 32px;
    text-align: center;
    color: white;
}

    thead tr th input {
        width: 30px;
        height: 30px;
    }

tbody tr td {
    font-size: 24px;
    text-align: center;
}

    tbody tr td input {
        width: 30px;
        height: 30px;
    }

.btn-delete {
    color: white;
    transition: all 0.3s ease;
}

    .btn-delete:hover {
        font-size: 20px;
        color: white;
    }

.total {
    justify-content: end;
    text-align: right;
    margin: 0px auto 0px auto;
    margin-top: 20px;
}

.calculate {
    margin-bottom: 20px;
}

.total-title {
    font-size: 28px;
    font-weight: bold;
}

.total-price {
    font-size: 24px;
    margin-right: 50px;
    border: none;
    width: 150px;
    text-align: center;
    color: red;
}

.btn-buy {
    color: white;
    transition: all 0.3s ease;
}

    .btn-buy:hover {
        font-size: 22px;
        color: white;
    }

.modal-title {
    color: white;
}

.modal-body {
    font-size: 20px;
}
