thead tr th {
    font-size: 32px;
    text-align: center;
    color: white;
}

    thead tr th input {
        width: 30px;
        height: 30px;
    }

tbody tr td {
    font-size: 28px;
    text-align: center;
}

    tbody tr td input {
        width: 30px;
        height: 30px;
    }

.btn-delete {
    color: white;
}

.total{
    width:30%;
    height:40%;
}