.eachfield {
    background-color: #faf9f9;
}

    .eachfield h1 {
        text-align: center;
        font-size: 36px
    }

.groundfield {
    background-color: #eeeeee;
}

.my-title {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.my-text {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: #333;
}

.product-items {
    border: 2px solid #dee2e6;
    padding: 3px;
    margin: 1px;
    margin-bottom: 18px;
}

    .product-items div img {
        width: 100%;
        height: 100%;
    }

.single_sidebar_widget div {
    text-align: center;
}

    .single_sidebar_widget div img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
