.img-plan {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    margin-bottom: 18px;
}

.plan-text {
    font-size: 24px;
}

.choice {
    margin-top: 20%;
}

    .choice label {
        margin-bottom: 50px;
    }

.label-title {
    font-weight: bold;
    font-size: 28px;
}

.total-price {
    font-size: 24px;
}

.btn-cart {
    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

    .btn-cart:hover {
        background-color: #4E76EE;
        color: white;
        font-size: 20px;
    }

.btn-buy {
    margin-left: 25%;
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
}

    .btn-buy:hover {
        background-color: #4E76EE;
        color: white;
        font-size: 20px;
    }
