.search {
    margin-bottom: 20px;
}

.search-title {
    font-size: 24px;
    font-weight: bold;
}

.inp-search {
    width: 50%;
    transition: width 0.4s ease-in-out;
}

    .inp-search:focus {
        width: 70%;
    }

.sort {
    margin-bottom: 30px;
}

.sort-title {
    font-size: 24px;
    font-weight: bold;
}

.product-items {
    margin-bottom: 18px;
}

.img-product {
    width: 220px;
    height: 160px;
    border-radius: 10px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
}

.text-change {
    color: #52c5fd;
    font-weight: bold;
}


#i {
    width: 100%;
    height: 100%;
    object-fit: cover;
}