.rating-date {
    margin-bottom: 20px;
}

.rating-star {
    margin-bottom: 20px;
}

.star {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
}

    .star i {
        color: #e6e6e6;
        font-size: 40px;
        cursor: pointer;
        text-align: center;
        transition: color 0.3s ease;
    }

        .star i.active {
            color: #ff9c1a;
        }

.txt-describe {
    font-size: 20px;
    resize: none;
    height: 100px;
    width: 100%;
}

.form-btn {
    text-align: center;
    margin-bottom: 20px;
}

.btn-submit {
    color: white;
    font-size: 22px;
    width: 20%;
    transition: all 0.3s ease;
}

    .btn-submit:hover {
        color: white;
        font-size: 26px;
    }

.planInfo {
    margin-left: 40px;
}

.img-plan {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.productInfo div img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.product-text div {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-title {
    font-weight: bold;
}
