
.beauty-select {
    width: 100px;
    padding: 10px;
    /*margin-bottom: 10px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    outline: none;
}

    .beauty-select:hover {
        border-color: #007bff;
    }

    .beauty-select:focus {
        border-color: #007bff;
    }

.element {
    background-image: url('../img/201207-24309-10-q31kv.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 500px;
}

.inputbox {
    position: relative;
    width: auto;
}

    .inputbox input {
        width: 100%;
        padding: 10px;
        border: 1px solid deepskyblue;
        background: white;
        border-radius: 5px;
        outline: none;
        color: black;
        font-size: 1em;
    }

    .inputbox span {
        position: absolute;
        left: 10px;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: grey;
        text-transform: uppercase;
        transition: 1s;
    }

    .inputbox input:valid ~ span, .inputbox input:focus ~ span {
        color: aqua;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: black;
        border-left: 1px solid deepskyblue;
        border-right: 1px solid deepskyblue;
        letter-spacing: 0.2em;
    }

    .inputbox:nth-child(2) input:valid ~ span, .inputboxx:nth-child(2) input:valid ~ span {
        background-color: deepskyblue;
        color: black;
        border-radius: 2px;
    }

    .inputbox input:valid, .inputbox input:focus {
        border: 1px solid deepskyblue;
    }

.dup {
    display: block;
    margin: 20px 80px;
    text-align: center;
    background-color: #fad384;
    padding: 8px;
    font-size: 15px;
    border-radius: 18px;
    outline: none;
    color: rgb(19, 23, 27);
    width: 100px;
    background-color: white;
    border: 1px solid deepskyblue;
    cursor: pointer;
}

    .dup:hover {
        border: 1.5px solid black;
    }
