.product-describe {
    margin-bottom: 30px;
}

.img-product {
    width: 220px;
    height: 160px;
    border-radius: 10px;
}

.card {
    margin-bottom: 5px;
}

.img-plan {
    width: 100%;
}

.card-end {
    text-align: right;
}

.img-caption {
    width: 100%;
    border-radius: 10px;
}
