.search {
    margin-bottom: 20px;
}

.search-title {
    font-size: 24px;
    font-weight: bold;
}

.inp-search {
    width: 50%;
    transition: width 0.4s ease-in-out;
}

    .inp-search:focus {
        width: 70%;
    }

.sort {
    margin-bottom: 30px;
}

.sort-title {
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
}
