<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TravelProject1.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
                <img src="~/img/2023-08-31_143701.png" style="width:50px;height:50px;border-radius:50%;" />
                <div class="sidebar-brand-text mx-3">TibaGO首頁</div>
            </a>
            <li class="sidebar-brand d-flex align-items-center justify-content-start">
                <div class="sidebar-brand-text mx-3">管理員介面</div>
            </li>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Manage/Index">
                    <i class="fas fa-fw fa-solid fa-user-shield fa-beat"></i>
                    <span>管理員管理</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Manage/User">
                    <i class="fas fa-fw fa-solid fa-user fa-beat"></i>
                    <span>會員管理</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Manage/Products">
                    <i class="fas fa-fw fa-solid fa-ticket fa-beat"></i>
                    <span>商品管理</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Manage/Orders">
                    <i class="fas fa-fw fa-solid fa-clipboard-list fa-beat"></i>
                    <span>訂單管理</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-solid fa-chart-line fa-beat"></i>
                    <span>報表分析</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/Admin/Chart/UserAnalyze">會員分析</a>
                        <a class="collapse-item" href="/Admin/Chart/SalesAnalyze">票券年度銷售分析</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>