

<button class="btn btn-outline-dark me-2" type="submit">
    <i class="bi-cart-fill me-1"></i>
    購物車
    <span class="badge bg-dark text-white  rounded-pill">0</span>
</button>

<ul class="navbar-nav"> 
    @{
        if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/User/Login" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" >
                    <button type="submit" class="nav-link btn btn-link text-dark">登出</button>
                </form>
            </li>


           
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">
                    <button class="btn btn-outline-dark" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-user"></i>
                        登入
                        <span class="badge bg-dark text-white rounded-pill"></span>
                    </button>
                </a>
            </li>
        }
    }

    
 </ul>