@page
@model ErrorModel
@{
    ViewData["Title"] = "錯誤";
}

<h1 class="text-danger">錯誤</h1>
<h2 class="text-danger">處理您的請求時發生錯誤</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>註冊 ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>發展模式</h3>
<p>
    交換到 <strong>發展t</strong>環境將顯示有關所發生錯誤的更多詳細資訊。
</p>
<p>
    <strong>不應在已部署的應用程式中啟用開發環境</strong>，因為這可能會導致向最終用戶顯示異常中的敏感資訊。對於本地調試，可以通過設置<strong>ASPNETCORE_ENVIRONMENT</strong>環境變數為 <strong>發展</strong>,並重新啟動應用程式。
</p>
