@section Styles{
    <link href="~/css/planetk.css" rel="stylesheet" />
}


    <div class="container">
        <br>
    </div>
    <!--頁首-->
    <header class="container-fluid row">
        <!--區塊-->
        <!--區塊-->
    </header>
    <!--頁首底-->
    <!--第一段-->
    <div class="container-fluid row  justify-content-between">
        <div class="col-2"></div>
        <button type="button" class="btn  solid col-1">統計</button>
        <br>
        <button type="button" class="btn solid  col-1">按週統計</button>
        <button type="button" class="btn solid  col-1">按月統計</button>
        <br>
        <button type="button" class="btn solid  col-1">時間</button>
        <div class="col-4"></div>
    </div>
    <!--第二段-->
    <div class="container-fluid row justify-content-center">
        <div class="col-2 justify-content-start">
            種類:
            <select class="form-select form-select-lg mb-3  " aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-2">
            商品名稱:
            <select class="form-select form-select-lg mb-3 " aria-label="Large select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
            <nav class="navbar bg-body">
                <div class="container-fluid justify-content-end">
                    <form class="d-flex" role="search">
                        <img src="./pic/search.png" width="100" height="60">
                        <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary " style="color :#1e2154" type="submit">
                            <Fieldset>搜尋</Fieldset>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <!--第三段-->
    <!--第四段-->
    <div class="container-fluid row">
        <!--管理選單-->
        <div class="col-2">
            <ul class="list-group">
                <!--管理選單列-->
                <a class="btn" href="http://127.0.0.1:5500/admin.html">使用者管理</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">訂單管理</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">數據分析</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">商品管理</a>
                <!--管理選單底-->
            </ul>
        </div>
        <!--管理內容-->
        <div class="col-10">
            <!--新增刪除修改-->
            <span class="container-fluid   row">
                <div class="col-1"></div>
                <div class="col-1 ">
                    <button type="button" class="btn   btn-success">新增</button>
                </div>
                <div class="col-1 ">
                    <button type="button" class="btn btn-danger">刪除</button>
                </div>
                <div class="col-1 ">
                    <button type="button" class="btn btn-warning">修改</button>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </span>
            <span>
                <br>
            </span>
            <!--管理內容表單-->
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">OrderId</th>
                        <td>UserName</td>
                        <td>商品種類</td>
                        <td>商品名稱</td>
                        <td>總金額</td>
                        <td>訂購日期</td>
                        <td>訂單明細</td>
                        <td>保留</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--顯示更多內容-->
        <div class="col-10">
        </div>


    @section Scripts{
        <script src="~/js/planetk.js"></script>
    }
