<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/ea5c2c7c03.js" crossorigin="anonymous"></script>

    <style>
        .solid {
            font-weight: bold;
            color: #000;
        }

        .foo {
            font-weight: bold;
            background-color: #85bdc6;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
    </div>
    <!--頁首-->
    <header class="container-fluid row">
        <!--區塊-->
        <ul class="nav justify-content-start  col-10">
            <li class="nav-item">
                <a class="nav-link solid" href="#">
                    <img src="https://cdn.kkday.com/pc-web/assets/img/kkday_logo_final.svg">
                </a>
            </li>
        </ul>
        <!--人像-->
        <nav class=" navbar container-fluid  justify-content-end col-2   ">
            <form class="    ">
                <button class="btn  me-2 justify-content-end" type="button">
                    <img width="44" height="34" src="./pic/peo1.png">
                </button>
            </form>
        </nav>
        <!--區塊-->
    </header>
    <!--頁首底-->
    <!--第一段-->
    <div class="container-fluid row  justify-content-between">
        <div class="col-2"></div>
        <button type="button" class="btn  solid col-1">統計</button>
        <br>
        <button type="button" class="btn solid  col-1">按週統計</button>
        <button type="button" class="btn solid  col-1">按月統計</button>
        <br>
        <button type="button" class="btn solid  col-1">時間</button>
        <div class="col-4"></div>
    </div>
    <!--第二段-->
    <nav class="navbar bg-body">
        <div class="container-fluid justify-content-end">
            <form class="d-flex" role="search">
                <img src="./pic/search.png" width="100" height="60">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary " style="color :#1e2154" type="submit">
                    <Fieldset>搜尋</Fieldset>
                </button>
            </form>
        </div>
    </nav>
    <!--第三段-->
    <div class="container-fluid row">
        <!--管理選單-->
        <!--管理選單-->
        <div class="col-2">
            <ul class="list-group">
                <!--管理選單列-->
                <a class="btn" href="http://127.0.0.1:5500/admin.html">使用者管理</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">訂單管理</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">數據分析</a>
                <a class="btn" href="http://127.0.0.1:5500/admin.html">商品管理</a>
                <!--管理選單底-->
            </ul>
        </div>
        <!--管理內容-->
        <div class="col-10">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">OrderId</th>
                        <td>UserName</td>
                        <td>商品種類</td>
                        <td>商品名稱</td>
                        <td>總金額</td>
                        <td>訂購日期</td>
                        <td>訂單明細</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                        <td>fat</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--顯示更多內容-->
        <div class="col-10">
        </div>
</body>
