@section Styles{
    <link href="~/css/usermanage.css" rel="stylesheet" />
}

<div class="container">
    <div class="admin-search">
        <span class="search-title">關鍵字搜尋：</span>
        <input class="inp-search" type="text" />
        <button class="btn btn-search"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="menu">
                <div><button class="btn item">使用者管理</button></div>
                <div><button class="btn item">訂單管理</button></div>
                <div>
                    <button class="btn item btn-sub">商品管理<i class="fa-solid fa-caret-down fa-sm"></i></button>
                    <div class="sub-menu">
                        <button class="btn sub-item">機票</button>
                        <button class="btn sub-item">住宿</button>
                        <button class="btn sub-item">景點</button>
                        <button class="btn sub-item">交通</button>
                    </div>
                </div>
                <div><button class="btn item">數據分析</button></div>
                <div><button class="btn item">訊息回覆</button></div>
            </div>
        </div>
        <div class="col-10 admin">
            <table class="admin-log">
                <tr>
                    <th>SuperID</th>
                    <th>管理權限</th>
                    <th>管理人</th>
                    <th>帳號</th>
                    <th>建立日期</th>
                    <th>上線時間</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>All</td>
                    <td>管理員一</td>
                    <td>ABC123</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>All</td>
                    <td>管理員二</td>
                    <td>ABC456</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>View</td>
                    <td>管理員三</td>
                    <td>ABC789</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>View</td>
                    <td>管理員四</td>
                    <td>ABC012</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>All</td>
                    <td>管理員五</td>
                    <td>ABC345</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>View</td>
                    <td>管理員六</td>
                    <td>ABC678</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>All</td>
                    <td>管理員七</td>
                    <td>ABC901</td>
                    <td>2023/08/13</td>
                    <td>2023/08/13-12:00</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/usermanage.js"></script>
}