@section Styles{
        <link href="~/css/planetk.css" rel="stylesheet" />
}


<body>
    <div class="container">
        <br>
    </div>
    <!--頁首-->
    <header class="container-fluid row">
        <!--區塊-->
        <!--區塊-->
    </header>
    <!--頁首底-->
    <!--第二段-->
    <div class="container-fluid row">
        <div class="col-2">
            <!---->
            <div class="container">
                <br>
                <br>
                <br>
            </div>
            <!--清單-->
            <ul class="list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio"
                           checked>
                    <label class="form-check-label" for="firstRadio">日本</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
                    <label class="form-check-label" for="secondRadio">台、港澳</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
                    <label class="form-check-label" for="thirdRadio">越南</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="thirdRadio">
                    <label class="form-check-label" for="thirdRadio">菲律賓</label>
                </li>
                <!---->
                <div class="container">
                    <br>
                    <br>
                    <br>
                </div>
                <!--價錢-->
                <label for="customRange1" class="form-label">價格</label>
                <input type="range" class="form-range" id="customRange1">
                <!---->
                <div class="container">
                    <br>
                    <br>
                    <br>
                </div>
                <!--查看更多目的地-->
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
        </div>
        </ul>
        <!--景點-->
        <main class="col-10   ">
            <!--篩選排序-->
            <ul class="nav justify-content-between  ">
                <li class="nav-item solid">
                    <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">排序</a>
                </li>
                <li class="nav-item solid">
                    <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">熱門程度</a>
                </li>
                <li class="nav-item solid">
                    <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">時間從早到晚</a>
                </li>
                <li class="nav-item solid">
                    <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">價格低到高</a>
                </li>
            </ul>
            <!--篩選排序底-->
            <!--照片-->
            <!--日本頭-->
            <span>
                <br>
                <br>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/toky6.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">東京澀谷人氣景點！SHIBUYA SKY 展望台，從 229 米處高空 360 度</h5>
                                <p class="card-text">
                                    東京澀谷人氣景點！SHIBUYA SKY 展望台，從 229 米處高空 360 度無死角俯瞰東京美景
                                    每日入場時段有人數管控，建議於 KKday 事前訂購，現場出示 QR CODE 即可輕鬆入場
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/toky7.webp" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    超值東京半自助５日～富士山看透透+2日市區自由活動！富士山五合目、御殿場OUTLET、淺間公園 【風門 篇】
                                </h5>
                                <p class="card-text">
                                    富士山五合目
                                    富士山是日本國內的最高峰，也是世界上最大的活火山之一，主峰海拔高達3776公尺。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>


            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/infor2.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    東京地鐵一日券帶你暢遊東京23區著名景點【Tokyo Metro篇】
                                </h5>
                                <p class="card-text">
                                    出國旅遊自由行，不外乎最大的課題之一就是交通了，來到東京光是電車及地鐵圖要搞懂，就足夠讓人傷腦筋的。有許多人會為了方便，會購買SUICA交通卡，俗稱的西瓜卡，省去了購票的麻煩。但除了西瓜卡外，其實還有其他聰明的選擇要提供給你，像是東京Metro地下鐵推出的東京都24小時的一日券，只要花日幣600日圓
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>


            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/jp1.jpg" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊・計劃票套裝】東京計劃機票＋東京迪士尼門票｜自選航空
                                </h5>
                                <p class="card-text">
                                    搭配迪士尼門票一起幫你買！
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/JP2.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <!--日本底-->
            <!--台、港奧頭-->
            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/TW1.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/TW2.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/TW3.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>


            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/TW4.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/TW5.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <!--台、港奧底-->
            <!--越南頭-->
            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/Vam1.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/Vam2.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/Vam3.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/Vam4.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/Vam5.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <!--越南底-->
            <!--菲律賓頭-->
            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/ph1.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/ph2.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/ph3.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/ph4.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <span>
                <div class="card mb-3" style="max-width: 960px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img width="450" height="300" src="./pic/ph5.png" class="img-fluid rounded-start"
                                 alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title solid">
                                    【日本旅遊】東京計劃機票5日 + 精選一日遊行程 自由選．加贈東京地鐵二日券｜台灣虎航
                                </h5>
                                <p class="card-text">
                                    含『新倉山淺間公園－富士吉田“本町街”－山中湖花之都公園－西湖療癒之鄉根場－忍野八海｜新宿出發』，欲體驗日期請於備註欄中說明以利後續訂購作業。請務必於指定日使用，逾期將無法退費或改期。一日遊詳細行程說明。若旅遊期間一日遊皆滿團訂不到，則退1100/人（限成人，嬰兒不退）。
                                </p>
                                <p class="card-text">
                                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>

                            </div>
                        </div>
                    </div>
                </div>
            </span>

            <!--菲律賓底-->
        </main>
    </div>
    <!--第二段底-->
</body>
@section Scripts{
    <script src="~/js/planetk.js"></script>
}