@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/@@vuepic/vue-datepicker@latest/dist/main.css">

}
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Plane Plan</h2>
        </div>
    </div>
</section>

<section id="app" class="about_history_area section_gap">


@*    <template>
        <VueDatePicker v-model="year" year-picker />
    </template>*@
@*    <template>
        <datepicker v-model="selected"
                    :locale="locale"
                    :upperLimit="to"
                    :lowerLimit="from"
                    :clearable="true" />
    </template>*@


    <datepicker v-model="selectedDate" :type="'date'" />

</section>

<!--第四段底-->
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/ea5c2c7c03.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/@@vuepic/vue-datepicker@latest"></script>


    <script>
        var baseAddress = "https://localhost:7025"
        var WebsiteIndex = window.location.pathname.replace('/api/PlaneTK/PlaneTK_sale/', '')
        var vueApp = {
            data() {
                return {
                    PlaneTK_ProductDTOes: [],
                    PlaneTK_salePlanDTOes: [],
                    year: '2013',
                    selected: null,
                    locale: '',
                    to:2020,
                    from:2002,
                    selectedDate:'',
                };
            },
            components: { datepicker: VueDatePicker
            },
            mounted: function () {
                let _this = this;
                _this.PlaneTKGETID();


            },
            methods: {



                //GET機票商品
                PlaneTKGETID: function () {
                    let _this = this;
                    //alert("篩選");
                    var request = {};


                    axios.get(`${baseAddress}/api/PlaneTK/PlaneTK_Product/${WebsiteIndex}`)
                        .then(response => {
                            _this.PlaneTKGETIDDTOes = response.data;

                        })
                        .catch(err => {
                            alert(err);
                        });
                },

                //GET機票plan
                PlaneTK_salePlan: function () {
                    let _this = this;
                    //alert("篩選");
                    var request = {};

                    axios.get(`${baseAddress}/api/PlaneTK/PlaneTK_salePlan/${WebsiteIndex}`)
                        .then(response => {
                            _this.PlaneTK_salePlanDTOes = response.data;

                        })
                        .catch(err => {
                            alert(err);
                        });
                },
                ////數量選擇
                //plusNum: function (model) {
                //    model.num++;
                //},
                //minusNum: function (model) {
                //    if (model.num == 0) {
                //        model.num = 0;
                //    } else {
                //        model.num--;
                //    }
                //},
                ////計算總金額
                //calculate: function (p) {
                //    return p.planPrice * p.selected.num;
                //},
                //加入購物車
                //addCart: function (model) {
                //    let _this = this;
                //    _this.queries = window.location.pathname.slice("18");
                //    let cartData = {
                //        userId: 69,
                //        productId: _this.queries,
                //        cartName: model.name,
                //        cartPrice: model.planPrice * model.selected.num,
                //        cartQuantity: model.selected.num,
                //        cartDate: model.selected.date
                //    };

                //    fetch(`${baseAddress}/api/CartApi/AddToCart`, {
                //        method: 'POST',
                //        headers: { "Content-Type": "application/json" },
                //        body: JSON.stringify(cartData)
                //    }).then(response => {
                //        if (response.ok) {
                //            alert("商品已加入購物車!");
                //        } else {
                //            throw new Error("無法將商品加入購物車!");
                //        }
                //    }).catch(error => {
                //        console.log(error);
                //    })





            },
        };

        var app = Vue.createApp(vueApp).mount("#app");

    </script>

    }
