
    <div class="container">
        <br>
    </div>
    <!--頁首-->
    <header class="container-fluid row">
        <!--區塊-->
        <!--區塊-->
    </header>
    <!--頁首底-->
    <!--第二段-->
    <div class="container-fluid  ">
        <!--旋轉木馬起始-->
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img width="600px" height="400px" src="./pic/cart/Vam1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img width="600px" height="400px" src="./pic/cart/Vam2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img width="600px" height="400px" src="./pic/cart/Vam3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
        <!--旋轉木馬結束-->
    </div>
    <!--第二段底-->
    <br>
    <!--第三段-->
    <div class="container-fluid row">
        <!--部分8-->
        <div class="col-9">
            <!--按鍵-->
            <span>
                <ul class="nav justify-content-between  ">
                    <li class="nav-item solid">
                    </li>
                    <li class="nav-item solid">
                        <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">方案</a>
                    </li>
                    <li class="nav-item solid">
                        <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">說明</a>
                    </li>
                    <li class="nav-item solid">
                        <a class="btn btn-outline-secondary   " href="http://127.0.0.1:5500/admin.html">評價</a>
                    </li>
                </ul>
            </span>
            <!--按鍵底-->
            <br>
            <!--簡介-->
            <div class="container  " style="width:50rem;">
                <div class="container" style="width:50rem;">
                    <h1>【清倉限定！日本旅遊】關西大阪計劃機票</h1>
                </div>
                <!--給空白-->
                <br>
                <!--給空白-->
                <div class="container  " style="width:40rem;">
                    <!--行程簡介-->
                    <ul>
                        <li>好禮一&nbsp; 贈『4天早餐』</li>
                        <li>好禮二&nbsp; 贈『去程機場-&gt;飯店接機(當地合車)及協助辦理飯店CHECK IN服務』</li>
                        <li>南館34樓 平日14:00 - 20:00 提供多種免費星八克咖啡喔～喜歡喝咖啡的你千萬不要錯過<br></li>
                        <li>本商品由KKday提供服務，訂購後需等待回覆是否有位<br></li>
                        <li>海外團體＆自由行 客服諮詢專線 02-77415163<br></li>
                    </ul>
                    <!--行程簡介底-->
                    <!--給底線-->
                    <hr>
                    <!--給底線-->
                    <!--機票簡介-->
                    <ul>
                        <li>
                            <div class="break-word">
                                <p>本行程機位為需求單，報名後客服人員會告知是否有位。<br></p>
                            </div>
                        </li>
                        <li>
                            <div class="break-word">
                                <p>加贈第一晚住宿為大阪或京都飯店（視飯店房況而定，恕不接受指定）單數入住需補單人房差，請洽客服<br></p>
                            </div>
                        </li>
                        <li>
                            <div class="break-word">
                                <p>此方案計劃票包含來回經濟艙團體票，20KG托運行李，10KG手提行李，來回機上餐食<br></p>
                            </div>
                        </li>
                        <li>
                            <div class="break-word">
                                <p>此商品搭配桃園中正國際機場直航大阪航班，來回團體機票。一經付款後，取消則無退票價值(醫療原因亦然)，取消費將收取全額票款，敬請留意！<br></p>
                            </div>
                        </li>
                    </ul>
                    <!--機票簡介底-->
                </div>
            </div>
            <!--簡介底-->
        </div>
        <!--部分8底-->
        <!--部分2頭-->
        <div class="col-3   ">

            <div class="card text-center mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">選擇</h5>
                    <p class="card-text">TWD價格</p>
                </div>
                <a href="#" class="btn  btn-secondary">方案</a>
            </div>
        </div>
        <!--部分2底-->
    </div>
    <!--第三段底-->
    <!--第四段頭-->
    <!--說明-->
        <h1 class="solid">說明</h1>
        <div class="container-fluid   " style="width: 70rem;">
        <ul>
            <li>此商品 1 人即可成行，機位為需求單，報名時先行提供每位旅客的正確護照中英文名單，以利服務人員第一時間為您確認機位狀況。</li>
            <li>此方案售價使用最低優惠票價銷售，如遇航班機位較滿可能會有需要加價或無法需求的情形，可選擇同意加價或更改出發日期或退費，訂購時請留意<br></li>
            <li>機票一經確認若須取消或延期若有費用產生，另行收取，實際費用金額依客服回覆為主。</li>
            <li>本行程需「團進團出」，不可延回、不得退票及延期使用。</li>
        </ul>
        </div>
    <!--說明底-->
    <!--方案-->
<div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5 class="card-title">方案1</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">韓國大邱計劃機票</h6>
                <p class="card-text">

                </p>
                <p>此商品 1 人即可成行，機位為需求單，報名時先行提供每位旅客的正確護照中英文名單，以利服務人員第一時間為您確認機位狀況。<br></p>

                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>
            </div>
        </div>

<div class="card" style="width: 70rem;">
            <div class="card-body">
        <h5 class="card-title">方案2</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">韓國首爾計劃機票</h6>
                <p class="card-text">

                </p>
               <p>此商品 1 人即可成行，機位為需求單，報名時先行提供每位旅客的正確護照中英文名單，以利服務人員第一時間為您確認機位狀況。<br></p>

                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>
            </div>
        </div>

<div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5 class="card-title">方案3</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">
                </p>
                 <p>此商品 1 人即可成行，機位為需求單，報名時先行提供每位旅客的正確護照中英文名單，以利服務人員第一時間為您確認機位狀況。<br></p>

                <a class="btn btn-outline-secondary   " href="https://localhost:7025/PlaneTK/Plane_sale">購入</a>
            </div>
        </div>
        <!--方案-->
    <div class="container-fluid   " style="width: 70rem;">
        <h1 class="solid">顧客評價</h1>
        <!--顧客評價-->
        <div class="card   ">
            <div class=" card-body">
                <h5 class="card-title solid">顧客評價</h5>
                <h4 class="card-subtitle mb-2 text-body-secondary">林惠美</h4>
                <p class="card-text">與家人好友愉快之旅班機很準時.飯店離黑門市場很近.飯店1樓餐廳的咖啡很好喝</p>
                <a href="#" class=""></a>
            </div>
        </div>
        <!--給空白-->
        <br>
        <!--給空白-->
        <div class="card   ">
            <div class=" card-body">
                <h5 class="card-title solid">顧客評價</h5>
                <h4 class="card-subtitle mb-2 text-body-secondary">林惠美</h4>
                <p class="card-text">與家人好友愉快之旅班機很準時.飯店離黑門市場很近.飯店1樓餐廳的咖啡很好喝</p>
                <a href="#" class=""></a>
            </div>
        </div>
        <!--給空白-->
        <br>
        <!--給空白-->
        <div class="card   ">
            <div class=" card-body">
                <h5 class="card-title solid">顧客評價</h5>
                <h4 class="card-subtitle mb-2 text-body-secondary">林惠美</h4>
                <p class="card-text">與家人好友愉快之旅班機很準時.飯店離黑門市場很近.飯店1樓餐廳的咖啡很好喝</p>
                <a href="#" class=""></a>
            </div>
        </div>
        <!--給空白-->
        <br>
        <!--給空白-->
        <!--顧客評價底-->
    </div>
    <!--第四段底-->
