@{
    ViewData["Title"] = "機票方案";
}

@section Styles{
    <link href="~/css/attractions-plan.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/vue2-datepicker/index.css">
}

<section id="app" class="about_history_area ">
    <div class="container" v-for="x in product">
        <div>
            <img class="img-product" :src="x.img" />
        </div>
        <div class="product-describe">
            <div class="d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">{{x.productName}}</h2>
                    <p>{{x.mainDescribe}}</p>
                </div>
            </div>
        </div>

        @* 分頁按鈕 *@
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button style="width:10%;" class="nav-link active" id="nav-plan-tab" data-bs-toggle="tab" data-bs-target="#nav-plan" type="button" role="tab" aria-controls="nav-plan" aria-selected="true">方案</button>
                <button style="width:10%;" class="nav-link" id="nav-caption-tab" data-bs-toggle="tab" data-bs-target="#nav-caption" type="button" role="tab" aria-controls="nav-caption" aria-selected="false">商品說明</button>
                <button style="width:10%;" class="nav-link" id="nav-describe-tab" data-bs-toggle="tab" data-bs-target="#nav-describe" type="button" role="tab" aria-controls="nav-describe" aria-selected="false">購買須知</button>
                <button style="width:10%;" class="nav-link" id="nav-rating-tab" data-bs-toggle="tab" data-bs-target="#nav-rating" type="button" role="tab" aria-controls="nav-rating" aria-selected="false">評價</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            @* 分頁1(方案) *@
            <div class="tab-pane fade show active" id="nav-plan" role="tabpanel" aria-labelledby="nav-plan-tab">
                @* 商品方案 *@
                <div class="card" v-for="(p,index) in plan" :key="p.planId">
                    <div class="row">
                        <div class="col-xl-3">
                            <img class="img-plan" :src="p.planImg" />
                        </div>
                        <div class="col-xl-7">
                            <div class="card-body">
                                <h3>{{p.name}}</h3>
                                <p>{{p.describe}}</p>
                            </div>
                        </div>
                        <div class="col-xl-2 card-end">
                            <button class="btn theme_btn button_hover info btn-choose" data-bs-toggle="collapse" :data-bs-target="'#collapse'+index" aria-expanded="true" :aria-controls="'collapse'+index">選擇</button>
                        </div>
                        <div :id="'collapse'+index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <h3>選擇日期</h3>
                                        <template>
                                            <div>
                                                <date-picker v-model="p.selected.date" valueType="format" @@input="minDate"></date-picker>
                                            </div>
                                        </template>
                                    </div>
                                    <div class="col-xl-6">
                                        <h3>選擇項目</h3>
                                        <div>
                                            <h4>單價：</h4>
                                            <div class="plan-price">
                                                <span class="price">{{p.planPrice | formatCurrency}}</span>
                                            </div>
                                            <h4>數量：</h4>
                                            <div class="quantity d-flex">
                                                <button class="btn minus info" v-on:click="minusNum(p.selected)">-</button>
                                                <input class="quantity-num" v-model="p.selected.num" readonly>
                                                <button class="btn plus info" v-on:click="plusNum((p.selected))">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h4>總金額：</h4>
                                    <div class="total">
                                        <input class="total-price" v-bind:value="calculate(p) | formatCurrency" disabled />
                                    </div>
                                    <div class="buy">
                                        <a class="btn theme_btn button_hover info" v-on:click="addCart(p)">加入購物車</a>
                                        <a class="btn theme_btn button_hover info" v-on:click="addOrder(p)">立即訂購</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* 分頁2(商品說明) *@
            <div class="tab-pane fade" id="nav-caption" role="tabpanel" aria-labelledby="nav-caption-tab">
                @*商品說明*@
                <div class="container">
                    <div class="row">
                        <h2>商品說明</h2>
                        <div class="col-xl-8 offset-2 text-center">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img class="img-caption" src="~/lib/image/mountain.jpeg" />
                                </div>
                                <div class="col-xl-8">
                                    <p>{{x.subDescribe}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* 分頁3(購買須知) *@
            <div class="tab-pane fade" id="nav-describe" role="tabpanel" aria-labelledby="nav-describe-tab">
                @*購買須知*@
                <div class="container">
                    <div>
                        <h2>購買須知</h2>
                        <ul>
                            <li>
                                <p>{{x.shortDescribe}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* 分頁4(評價) *@
            <div class="tab-pane fade" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab">
                <div class="container">
                    <h2>商品評價</h2>
                    <div class="comments-area">
                        <div class="comment-list" v-for="r in rating">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="desc">
                                        <h5><a href="#">使用者名稱</a></h5>
                                        <p class="date">{{r.ratingDate | formatDate}}</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star fa-2xl" v-for="(star,index) in r.ratingScore"></i>
                                        </div>
                                        <p class="comment">{{r.describe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/vue2-datepicker/index.min.js"></script>
    <script>
        var isLogin = ('@User.Identity.IsAuthenticated' == "True");
        let baseAddress = "https://localhost:7025";
        Vue.component(DatePicker);
        var app = new Vue({
            el: '#app',
            data: {
                plan: [],
                product: [],
                rating: [],
                queries: '',
                orderDetail: []
            },
            mounted: function () {
                let _this = this;
                //queryString
                _this.queries = window.location.pathname.replace('/api/PlaneTK/PlaneTK_sale/', '');

                //方案
                fetch(`${baseAddress}/api/PlaneTK/PlaneTK_salePlan/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.plan = data.map(x => ({ ...x, selected: { date: "", num: 0 } }));
                    }).catch(error => {
                        alert(error);
                    });
                //商品
                fetch(`${baseAddress}/api/PlaneTK/PlaneTK_Product/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.product = data;
                    }).catch(error => {
                        alert(error);
                    })
                //評價
                fetch(`${baseAddress}/api/PlaneTK/PlaneTK_GetRate/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.rating = data;
                    }).catch(error => {
                        alert(error);
                    })
            },
            methods: {
                //日期限制
                minDate(d) {
                    let _this = this;
                    const today = new Date();
                    for (var i = 0; i < _this.plan.length; i++) {
                        if (d < today) {
                            _this.plan[i].selected.date = today;
                        }
                    }
                },

                //數量加、減
                plusNum: function (model) {
                    model.num++;
                },
                minusNum: function (model) {
                    if (model.num == 0) {
                        model.num = 0;
                    } else {
                        model.num--;
                    }
                },

                //計算總金額
                calculate: function (p) {
                    return p.planPrice * p.selected.num;
                },

                //加入購物車
                addCart: function (model) {
                    let _this = this;
                    _this.queries = window.location.pathname.replace('/api/PlaneTK/PlaneTK_sale/', '');
                    let cartData = {

                        planId: model.planId,
                        cartName: model.name,
                        cartPrice: model.planPrice * model.selected.num,
                        cartQuantity: model.selected.num,
                        cartDate: model.selected.date
                    };
                    fetch(`${baseAddress}/api/CartApi/AddToCart`, {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(cartData)
                    }).then(response => {
                        if (response.ok) {
                            alert("商品已加入購物車!");
                        } else {
                            throw new Error("未確實選擇，無法將商品加入購物車!");
                        }
                    }).catch(error => {
                        alert("未登入，無法加入購物車");
                    })
                },

                //加入訂單
                addOrder: function (model) {
                    if (!isLogin) return alert("未登入，無法購買!");
                    let _this = this;
                    let orderData = {
                        odname: model.name,
                        planId: model.planId,
                        quantity: model.selected.num,
                        unitPrice: model.selected.num * model.planPrice
                    };
                    _this.orderDetail.push(orderData);
                    var form = document.createElement("form");
                    form.method = "post";
                    form.action = "/ConfirmTheOrder/Index";
                    var inp = document.createElement("input");
                    inp.type = "hidden";
                    inp.value = JSON.stringify(_this.orderDetail);
                    inp.name = "key";
                    form.append(inp);
                    document.getElementsByTagName("body")[0].append(form);
                    form.submit();
                }
            },
            filters: {
                //貨幣格式
                formatCurrency: function (val) {
                    if (typeof val !== "number") return val;
                    return val.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 });
                },

                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                }
            }
        })
    </script>
}