@{
    ViewData["Title"] = "結帳";
    var result = string.IsNullOrEmpty(ViewBag.key) ? "[]" : Html.Raw(ViewBag.key);
}

@section Styles{
    <link href="~/css/confirmtheorder.css" rel="stylesheet" />
}

<div id="app" class="container">
    <h1>訂單</h1>
    <div class="row">
        <div class="col-md-8">
            @* 訂單資訊 *@
            <div class="card">
                <div class="card-header info">訂單資訊</div>
                <div class="card-body">
                    <table>
                        <tr>
                            <th>商品名稱</th>
                            <th>數量</th>
                            <th>金額</th>
                        </tr>
                        <tr v-for="o in orders">
                            <td v-cloak>{{o.odname}}</td>
                            <td v-cloak>{{o.quantity}}</td>
                            <td v-cloak>{{o.unitPrice | formatCurrency}}</td>
                        </tr>
                    </table>
                    <hr />
                    <div>
                        <span class="card-text">合計：</span>
                        <input class="money" v-bind:value="calculate(orders) | formatCurrency" readonly />
                    </div>
                    <div class="discount">
                        <span>是否使用點數折抵(每300點折抵1元)?</span>
                        <button class="btn theme_btn button_hover info" data-bs-toggle="modal" data-bs-target="#pointsDiscount">是</button>
                        <button class="btn theme_btn button_hover info" v-on:click="showPrice">否</button>
                    </div>
                    <div>
                        <span class="card-text">點數折抵後合計：</span>
                        <input class="money" v-bind:value="resultPrice | formatCurrency" readonly />
                    </div>
                    <div class="buy">
                        <button class="btn theme_btn button_hover info" v-on:click="addOrder" v-bind:disabled="!showPayBtn">結帳</button>
                    </div>
                </div>
            </div>
        </div>
        @* 使用者資訊 *@
        <div class="col-md-4">
            <div class="card">
                <div class="card-header info">訂購人資訊</div>
                <div class="card-body" v-for="u in user">
                    <p class="card-text">姓名：{{u.name}}</p>
                    <p class="card-text">電話：{{u.phone}}</p>
                    <p class="card-text">信箱：{{u.email}}</p>
                    <p class="card-text">點數：{{u.points}}</p>
                </div>
            </div>
        </div>
    </div>
    @* 點數折抵Modal *@
    <div class="modal fade" id="pointsDiscount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header info">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">點數折抵</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>請選擇折抵點數(每300點折抵1元)：</h5>
                    <div class="points d-flex">
                        <button class="btn minus info" v-on:click="minus">-</button>
                        <input class="points-num" v-bind:value="pointNum" readonly>
                        <button class="btn plus info" v-on:click="plus">+</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-point info" data-bs-dismiss="modal" v-on:click="totalPrice">確定</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                user: [],
                orders: @result,
                pointNum: 0,
                total: "",
                resultPrice: "",
                showPayBtn: false
            },
            mounted: function () {
                let _this = this;
                fetch(`/api/ConfirmTheOrder/GetUser`, { method: "GET" })
                    .then(response => response.json())
                    .then(data => {
                        _this.user = data;
                    }).catch(error => {
                        alert(error);
                    });
            },
            methods: {
                //合計
                calculate: function (model) {
                    let _this = this;
                    let totalAmount = 0;
                    for (var i = 0; i < model.length; i++) {
                        totalAmount += model[i].unitPrice;
                    }
                    _this.total = totalAmount;
                    return totalAmount;
                },
                //不使用點數
                showPrice: function () {
                    let _this = this;
                    _this.showPayBtn = true;
                    return _this.resultPrice = _this.total;
                },
                //點數
                minus: function () {
                    let _this = this;
                    if (_this.pointNum == 0) {
                        _this.pointNum = 0;
                    } else {
                        _this.pointNum -= 300;
                    }
                },
                plus: function () {
                    let _this = this;
                    if (_this.pointNum < _this.user[0].points) {
                        _this.pointNum += 300;
                        if (_this.pointNum > _this.user[0].points) {
                            _this.pointNum -= 300;
                            alert("點數不足!");
                        }
                    }
                },
                //點數折抵後合計
                totalPrice: function () {
                    let _this = this;
                    _this.showPayBtn = true;
                    return _this.resultPrice = _this.total - (_this.pointNum / 300);
                },
                //金流資訊
                addOrder: function () {
                    let _this = this;
                    let orderData = {
                        points: _this.pointNum,
                        totalPrice: _this.resultPrice,
                        detailDTOs: []
                    };
                    for (var i = 0; i < _this.orders.length; i++) {
                        var d = {
                            planId: _this.orders[i].planId,
                            quantity: _this.orders[i].quantity,
                            unitPrice: _this.orders[i].unitPrice,
                            planName: _this.orders[i].odname
                        }
                        orderData.detailDTOs.push(d)
                    }
                    fetch(`/Payment/Pay`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(orderData)
                    }).then(response => {
                        if (response.ok) return response.text();
                    }).then(data => {
                        document.body.insertAdjacentHTML("beforeend", data);
                        document.body.getElementsByTagName('form')[0].submit()
                    }).catch(error => {
                        alert(error);
                    })
                }
            },
            filters: {
                //貨幣格式
                formatCurrency: function (val) {
                    if (typeof val !== "number") return val;
                    return val.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 });
                },
                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                }
            }
        })
    </script>
}