@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="~/css/admindashboard.css" rel="stylesheet" />
}

<!--app-->
<div id="app">
    <!--app-->
    <div class="container">
        <br>
    </div>
    <!--頁首-->
    <header class="container-fluid row">
        <!--區塊-->
        <!--區塊-->
    </header>
    <!--頁首底-->
    <!--第一段-->
    <div class="container-fluid row  justify-content-between">
        <div class="col-1"></div>
        <div class="col-3"></div>
    </div>
    <br>
    <!--第二段-->
    <div class="container-fluid  row">
        <div class="col-9"></div>
        <div class="col-3" style="width:25%; color: gray; ">
            關鍵字搜尋：<input type="text" v-model="Filter" class="form-control" placeholder="請輸入篩選關鍵字" @@keyup="filterorder" />
        </div>
    </div>
    <br>
    <!--第三段-->
    <div class="container-fluid ">
        <div class=" table-responsive">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>訂單ID</th>
                        <th>總價</th>
                        <th>訂單狀態</th>
                        <th>訂單日期</th>
                        <th>訂購人ID</th>
                        <th>獲得點數</th>
                        <th>操作 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in order ">
                        <template v-if="item.Edit==true" class="text-center">
                            <td>{{item.orderId}}</td>
                            <td>{{item.totalPrice}}</td>
                            <td>
                                <select class="w-100 form-control" v-model="editOrder.status">
                                    <option value="false">false</option>
                                    <option value="success">success</option>
                                </select>
                            </td>
                            <td>
                                <input class="w-100 form-control" type="date" v-model="editOrder.orderDate">
                            </td>
                            <td>{{item.userId}}</td>
                            <td>{{item.newPoint}}</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button type="button" class="btn btn-success" @@click="UpdateOrder(item)">
                                        <div class="horizontal-text">
                                            <span>儲存</span>
                                        </div>
                                    </button>
                                    <button type="button" class="btn btn-info" @@click="cancelChangeOrder(item)">
                                        <div class="horizontal-text">
                                            <span>取消</span>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </template>
                        <template v-else class="text-center">
                            <td>{{item.orderId }}</td>
                            <td>{{item.totalPrice }}</td>
                            <td>{{item.status }}</td>
                            <td>{{item.orderDate }}</td>
                            <td>{{item.userId }}</td>
                            <td>{{item.newPoint }}</td>
                            <td>
                                <div class="d-flex justify-content-around">
                                    <button :disabled="notchange" type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal" @@click="openOrderDetail(item)">
                                        <div class="horizontal-text ">
                                            <span>查看</span>
                                        </div>
                                    </button>
                                    <button :disabled="notchange" type="button" class="btn  btn-warning" @@click="openChangeOrder(item)">
                                        <div class="horizontal-text ">
                                            <span>修改</span>
                                        </div>
                                    </button>
                                    <button :disabled="notchange" type="button" class="btn btn-danger" @@click="deleteOrder(item.orderId)">
                                        <div class="horizontal-text">
                                            <span>刪除</span>
                                        </div>
                                    </button>
                                </div>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="detailModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid ">
                        <div class=" table-responsive">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>明細ID</th>
                                        <th>圖片</th>
                                        <th>名稱</th>
                                        <th>數量</th>
                                        <th>價錢</th>
                                        <th>使用日期</th>
                                        <th>操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in detail ">
                                        <template v-if="item.Edit==true" class="text-center">
                                            <td>{{item.id}}</td>
                                            <td style="width:200px"><img class="w-100" :src="item.odimg" /></td>
                                            <td>{{item.odname}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unitPrice}}</td>
                                            <td><input type="date" v-model="editDetail.useDate" /></td>
                                            <td>
                                                <div class="d-flex justify-content-around">
                                                    <button type="button" class="btn btn-success" @@click="UpdateDetail(item)">
                                                        <div class="horizontal-text">
                                                            <span>儲存</span>
                                                        </div>
                                                    </button>
                                                    <button type="button" class="btn btn-info" @@click="cancelChangeDetail(item)">
                                                        <div class="horizontal-text">
                                                            <span>取消</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </td>
                                        </template>
                                        <template v-else class="text-center">
                                            <td>{{item.id}}</td>
                                            <td style="width:200px"><img class="w-100" :src="item.odimg" /></td>
                                            <td>{{item.odname}}</td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.unitPrice}}</td>
                                            <td>{{item.useDate}}</td>
                                            <td>
                                                <div class="d-flex justify-content-around">
                                                    <button :disabled="notchange" type="button" class="btn  btn-warning" @@click="openChangeDetail(item)">
                                                        <div class="horizontal-text ">
                                                            <span>修改</span>
                                                        </div>
                                                    </button>
                                                    <button :disabled="notchange" type="button" class="btn btn-danger" @@click="deleteDetail(item)">
                                                        <div class="horizontal-text">
                                                            <span>刪除</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </td>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </script>
    <script src="https://kit.fontawesome.com/ea5c2c7c03.js" crossorigin="anonymous"></script>
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    order: [],
                    detail:[],
                    editOrder: {
                        status: "",
                        orderDate: ""
                    },
                    editDetail: {
                        useDate: ""
                    }
                };
            },
            mounted: function () {
                this.getApiOrder();
            },
            computed: {

            },
            methods: {
                getApiOrder: function () {
                    let self = this;
                    fetch("/api/order/OrderSeachL").then(x => x.json()).then(x => self.order = x.map(z => ({...z,Edit:false})));
                },
                deleteDetail: function (od) {
                    let self = this;
                    fetch("/api/order/OrderDetailDELETE/" + od.id, { method: "delete" }).then(x => x.json())
                        .then(x => {
                            if (x) {
                                alert("刪除成功");
                                var idx = this.order.findIndex(x => x.orderId == od.orderId);
                                var odIdx = this.order[idx].od.findIndex(x=> x.id == od.id);
                                this.order[idx].od.splice(odIdx, 1);
                            } else {
                                alert("刪除成功");
                            }
                        });
                },
                openOrderDetail: function (order) {
                    this.detail = order.od;
                },
                UpdateDetail: function (od) {
                    fetch("/api/order/DetailPUT/" + od.id, { method: "put", headers: { "Content-Type": "application/json" }, body: JSON.stringify(this.editDetail) })
                        .then(x => x.json()).then(x => {
                            if (x) {
                                alert("修改成功");
                                console.log(this.order);
                                var idx = this.order.findIndex(x => x.orderId == od.orderId);
                                var odIdx = this.order[idx].od.findIndex(x => x.id == od.id);
                                this.order[idx].od[odIdx].useDate = this.editDetail.useDate;
                                od.Edit = false;
                            } else {
                                alert("修改失敗");
                            }
                        })
                },
                UpdateOrder: function (or) {
                    fetch("/api/order/OrderPUT/" + or.orderId, { method: "put", headers: { "Content-Type": "application/json" }, body: JSON.stringify(this.editOrder) })
                        .then(x => x.json()).then(x => {
                            if (x) {
                                alert("修改成功");
                                console.log(this.order);
                                for (var i = 0; i < this.order.length; i++) {
                                    if (this.order[i].orderId == or.orderId) {
                                        this.order[i].status = this.editOrder.status;
                                        this.order[i].orderDate = this.editOrder.orderDate;
                                        this.order[i].Edit = false;
                                        return;
                                    }
                                }

                            } else {
                                alert("修改失敗");
                            }
                        })
                },
                openChangeDetail: function (item) {
                    item.Edit = true;
                    this.editDetail.useDate = item.useDate;
                },
                openChangeOrder: function (item) {
                    item.Edit = true;
                    this.editOrder.status = item.status;
                    this.editOrder.orderDate = item.orderDate;
                },
                cancelChangeOrder: function (item) {
                    item.Edit = false;
                    this.editOrder.status = ""
                    this.editOrder.orderDate = ""
                },
                cancelChangeDetail: function (item) {
                    item.Edit = false;
                    this.editDetail.useDate ="";
                },
                deleteOrder: function (id) {
                    let self = this;
                    fetch("/api/order/OrderDELETE/" + id, { method: "delete" }).then(x => x.json())
                        .then(x => {
                            if (x) {
                                alert("刪除成功");
                                var idx = this.order.findIndex(x => x.orderId == id);
                                this.order.splice(idx, 1);
                            } else {
                                alert("刪除成功");
                            }
                        });
                }
            }
        }).mount("#app");
    </script>
}
