@{
    ViewData["Title"] = "交通";
}

@section Styles{
    <link href="~/css/Transport.css" rel="stylesheet" />
}

<section id="app" class="accomodation_area">
    <div class="container">
        @* 列表 *@
        <div class="row">
            <div class="col-xl-2">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">商品種類</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between" v-on:click="filterByCategory('機場接送')">
                                    <p :class="{'text-change':search==='機場接送'}">機場接送</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between" v-on:click="filterByCategory('租車')">
                                    <p :class="{'text-change':search==='租車'}">租車</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between" v-on:click="filterByCategory('高鐵')">
                                    <p :class="{'text-change':search==='高鐵'}">高鐵</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between" v-on:click="filterByCategory('鐵路')">
                                    <p :class="{'text-change':search==='鐵路'}">鐵路</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            @* 商品區 *@
            <div class="col-xl-10">
                <div class="filter-panel d-flex justify-content-between">
                    @* 商品名稱搜尋 *@
                    <div class="search">
                        <span class="title_color search-title">搜尋：</span>
                        <input class="inp-search" v-model="search" type="text" placeholder="請輸入商品名稱" />
                    </div>
                    @* 排序 *@
                    <div class="sort d-flex align-items-center">
                        <div>
                            <h4 class="title_color sort-title">排序：</h4>
                        </div>
                        <h4>
                            <span class="">
                                <a href="#"><i class="fas fa-fire"></i>熱門程度</a>
                            </span>
                            <span>|</span>
                            <span class="">
                                <a href="#" v-on:click="priceSort"><i class="fas fa-funnel-dollar"></i>金額高低</a>
                            </span>
                        </h4>
                    </div>
                </div>
                @* 商品 *@
                <div class="row product-items" v-for="t in showProduct">
                    <div class="col-xl-3">
                        <img class="img-product" :src="t.img" />
                    </div>
                    <div class="col-xl-7 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">{{t.productName}}</h2>
                            <span>{{t.mainDescribe}}</span>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <span class="product-price">{{t.price | formatCurrency}}起</span>
                        <a :href="'/Transport/Plan/'+t.productId" class="button_hover theme_btn_two info">選擇方案</a>
                    </div>
                </div>
            </div>
        </div>
        @* 分頁 *@
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <paginate :page-count="total"
                          :click-handler="changePage"
                          :page-class="'page-item'"
                          :page-link-class="'page-link'"
                          :prev-class="'page-link'"
                          :prev-link-class="'lnr lnr-chevron-left'"
                          :next-class="'page-link'"
                          :next-link-class="'lnr lnr-chevron-right'"
                          :container-class="'pagination'">
                </paginate>
            </ul>
        </nav>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate)
        var app = new Vue({
            el: '#app',
            data: {
                transport: [],
                count: 0,
                search: '',
                currentPage: 1,
                itemPage: 10
            },
            mounted: function () {
                //取得交通種類的商品
                var _this = this;
                fetch(`/api/Transport/GetCategoryByTransport`, { method: "GET" })
                    .then(response => response.json())
                    .then(data => {
                        _this.transport = data;
                    }).catch(error => {
                        alert(error);
                    })
            },
            methods: {
                //價格排序
                priceSort: function () {
                    var _this = this;
                    _this.count++;
                    if (_this.count % 2 != 0) {
                        fetch(`/api/Transport/TransportOrderbyPrice`, { method: "GET" })
                            .then(response => response.json())
                            .then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    } else {
                        fetch(`/api/Transport/TransportOrderByDescendingPrice`, { method: "GET" })
                            .then(response => response.json())
                            .then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    }
                },
                //分頁
                changePage: function (num) {
                    this.currentPage = num;
                },
                //列表關鍵字
                filterByCategory: function (category) {
                    if (this.search === category) {
                        this.search = "";
                    } else {
                        this.search = category;
                    }
                }
            },
            computed: {
                //關鍵字搜尋
                transportFilter: function () {
                    return this.transport.filter(f => f.productName.includes(this.search));
                },
                //分頁
                showProduct: function () {
                    var start = (this.currentPage - 1) * this.itemPage;
                    var end = start + this.itemPage;
                    return this.transportFilter.slice(start, end);
                },
                total: function () {
                    return Math.ceil(this.transport.length / this.itemPage);
                }
            },
            filters: {
                //貨幣格式
                formatCurrency: function (val) {
                    if (typeof val !== "number") return val;
                    return val.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 });
                }
            }
        })
    </script>
}