@{
    ViewData["Title"] = "交通";
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Transport</h2>
        </div>
    </div>
</section>

<section id="app" class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">交通</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        @* 商品名稱搜尋 *@
        <div class="search">
            <h3 class="title_color">搜尋：</h3>
            <input type="text" class="form-control" v-model="search" placeholder="請輸入商品名稱" />
        </div>
        @* 排序 *@
        <div class="sort">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title_color">排序：</h3>
                </div>
                <div class="col-md-4">
                    <button class="btn theme_btn button_hover">熱門程度</button>
                </div>
                <div class="col-md-4">
                    <button class="btn theme_btn button_hover" v-on:click="orderbyPrice">金額高低</button>
                </div>
            </div>
        </div>
        <div class="row accomodation_two">
            <div class="col-lg-3 col-sm-6" v-for="t in transportFilter">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/lib/image/mountain2.jpeg" />
                        <a :href="'/Transport/Plan/'+t.productId" class="btn theme_btn button_hover">查看價格</a>
                    </div>
                    <h4 class="sec_h4">{{t.productName}}</h4>
                    <h5>${{t.price}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        var baseAddress = "https://localhost:7025";
        var app = new Vue({
            el: '#app',
            data: {
                transport: [],
                priceOrderby: [],
                count: 0,
                search: ''
            },
            mounted: function () {
                //取得交通種類的商品
                var _this = this;
                fetch(`${baseAddress}/api/TransportApi/GetCategoryByTransport`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.transport = data;
                        console.log(data);
                    }).catch(error => {
                        alert(error);
                    })
            },
            methods: {
                //價格排序
                orderbyPrice: function () {
                    var _this = this;
                    _this.count++;
                    console.log(_this.count);
                    if (_this.count % 2 != 0) {
                        fetch(`${baseAddress}/api/TransportApi/TransportOrderbyPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    } else {
                        fetch(`${baseAddress}/api/TransportApi/TransportOrderByDescendingPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    }
                }
            },
            computed: {
                //關鍵字搜尋
                transportFilter: function () {
                    return this.transport.filter(f => f.productName.match(this.search));
                }
            }
        })
    </script>
}