@{
    ViewData["Title"] = "交通";
}

@section Styles{
    <link href="~/css/transport.css" rel="stylesheet" />
}

<div class="container div-img">
    <img class="img" src="~/lib/image/mountain.jpeg" />
</div>

<div id="app" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            所有商品種類
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div><a href="#">機場接送</a></div>
                            <div><a href="#">火車</a></div>
                            <div><a href="#">高鐵</a></div>
                            <div><a href="#">輕軌</a></div>
                            <div><a href="#">公車</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="search">
                <label class="sort-title">搜尋：</label>
                <input type="text" class="inp-search" size="40" v-model="search" />
            </div>

            <div class="sort">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="sort-title">排序：</h3>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sort">熱門程度</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sort" v-on:click="orderbyPrice">金額高低</button>
                    </div>
                </div>
            </div>

            <div class="card" v-for="t in transportFilter">
                <div class="row">
                    <div class="col-md-3 card-img">
                        <img class="img-transportation" src="~/lib/image/mountain2.jpeg" />
                    </div>
                    <div class="col-md-7 card-body">
                        <h5 class="card-title">{{t.productName}}</h5>
                        <p class="card-text">{{t.mainDescribe}}</p>
                    </div>
                    <div class="col-md-2 card-end">
                        <span class="product-price">NT {{t.price}}</span>
                        <a :href="'/Transport/Plan/'+t.productId" class="btn btn-product">查看價格</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var baseAddress = "https://localhost:7025";
        var app = new Vue({
            el: '#app',
            data: {
                transport: [],
                priceOrderby: [],
                count: 0,
                search: ''
            },
            mounted: function () {
                //取得交通種類的商品
                var _this = this;
                fetch(`${baseAddress}/api/TransportApi/GetCategoryByTransport`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.transport = data;
                        console.log(data);
                    }).catch(error => {
                        alert(error);
                    })
            },
            methods: {
                //價格排序
                orderbyPrice: function () {
                    var _this = this;
                    _this.count++;
                    console.log(_this.count);
                    if (_this.count % 2 != 0) {
                        fetch(`${baseAddress}/api/TransportApi/TransportOrderbyPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    } else {
                        fetch(`${baseAddress}/api/TransportApi/TransportOrderByDescendingPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.transport = data;
                            }).catch(error => {
                                alert(error);
                            })
                    }
                }
            },
            computed: {
                transportFilter: function () {
                    return this.transport.filter(f => f.productName.match(this.search));
                }
            }
        })
    </script>
}