@{
    ViewData["Title"] = "交通方案";
}

@section Styles{
    <link href="~/css/transport-plan.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/vue2-datepicker/index.css">
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Transport Plan</h2>
        </div>
    </div>
</section>

<section id="app" class="about_history_area section_gap">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button style="width:10%;border:1px solid gray;" class="nav-link active" id="nav-plan-tab" data-bs-toggle="tab" data-bs-target="#nav-plan" type="button" role="tab" aria-controls="nav-plan" aria-selected="true">方案</button>
                <button style="width:10%;border:1px solid gray;" class="nav-link" id="nav-caption-tab" data-bs-toggle="tab" data-bs-target="#nav-caption" type="button" role="tab" aria-controls="nav-caption" aria-selected="false">商品說明</button>
                <button style="width:10%;border:1px solid gray;" class="nav-link" id="nav-describe-tab" data-bs-toggle="tab" data-bs-target="#nav-describe" type="button" role="tab" aria-controls="nav-describe" aria-selected="false">購買須知</button>
                <button style="width:10%;border:1px solid gray;" class="nav-link" id="nav-rating-tab" data-bs-toggle="tab" data-bs-target="#nav-rating" type="button" role="tab" aria-controls="nav-rating" aria-selected="false">評價</button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent" v-for="x in product">
            @* 分頁1 *@
            <div class="tab-pane fade show active" id="nav-plan" role="tabpanel" aria-labelledby="nav-plan-tab">
                <div class="row product-describe">
                    <div class="col-md-4">
                        <img class="img-product" :src="x.img" />
                    </div>
                    <div class="col-md-8 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">{{x.productName}}</h2>
                            <p>{{x.mainDescribe}}</p>
                        </div>
                    </div>
                </div>
                @* 商品方案 *@
                <div class="card" v-for="(p,index) in plan" :key="index">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-plan" :src="p.planImg" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h3>{{p.name}}</h3>
                                <p>{{p.describe}}</p>
                            </div>
                        </div>
                        <div class="col-md-2 card-end">
                            <button class="btn theme_btn button_hover info" data-bs-toggle="collapse" :data-bs-target="'#collapse'+index" aria-expanded="true" :aria-controls="'collapse'+index">選擇</button>
                        </div>
                        <div :id="'collapse'+index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>選擇日期</h2>
                                        <template>
                                            <div>
                                                <date-picker v-model="p.selected.date" valueType="format" @@input="minDate"></date-picker>
                                            </div>
                                        </template>
                                    </div>
                                    <div class="col-md-6">
                                        <h2>選擇項目</h2>
                                        <div>
                                            <h4>單價：</h4>
                                            <div class="plan-price">
                                                <span class="price">{{p.planPrice | formatCurrency}}</span>
                                            </div>
                                            <br />
                                            <h4>數量：</h4>
                                            <div class="quantity d-flex">
                                                <button class="btn minus info" v-on:click="minusNum(p.selected)">-</button>
                                                <input class="quantity-num" v-model="p.selected.num" readonly>
                                                <button class="btn plus info" v-on:click="plusNum(p.selected)">+</button>
                                            </div>
                                            <h4>總金額：</h4>
                                            <div class="total">
                                                <input class="total-price" v-bind:value="calculate(p) | formatCurrency" readonly />
                                            </div>
                                        </div>
                                        <div class="buy">
                                            <a class="btn theme_btn button_hover info" v-on:click="addCart(p)">加入購物車</a>
                                            <a class="btn theme_btn button_hover info">立即訂購</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* 分頁2 *@
            <div class="tab-pane fade" id="nav-caption" role="tabpanel" aria-labelledby="nav-caption-tab">
                @*商品說明*@
                <div class="container">
                    <h2>商品說明</h2>
                    <div class="row product-descripts">
                        <div class="col-md-8 offset-2 text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-caption" src="~/lib/image/mountain.jpeg" />
                                </div>
                                <div class="col-md-8">
                                    <p>{{x.productName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4>兌換方式</h4>
                        <p>QRCode</p>
                    </div>
                    <div>
                        <h4>時段介紹</h4>
                        <p>{{x.subDescribe}}</p>
                    </div>
                </div>
            </div>
            @* 分頁3 *@
            <div class="tab-pane fade" id="nav-describe" role="tabpanel" aria-labelledby="nav-describe-tab">
                @*購買須知*@
                <div class="container">
                    <h2>購買須知</h2>
                    <div>
                        <ul>
                            <li>
                                <p>{{x.shortDescribe}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @* 分頁4 *@
            <div class="tab-pane fade" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab">
                <div class="container">
                    <h2>商品評價</h2>
                    <div class="comments-area">
                        <div class="comment-list" v-for="r in rating">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="desc">
                                        <h5><a href="#">使用者名稱</a></h5>
                                        <p class="date">{{r.ratingDate | formatDate}}</p>
                                        <div class="star">
                                            <i class="fa-solid fa-star fa-2xl" v-for="(star,index) in r.ratingScore"></i>
                                        </div>
                                        <p class="comment">{{r.describe}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/vue2-datepicker/index.min.js"></script>
    <script>
        var baseAddress = "https://localhost:7025";
        Vue.component('datePicker', DatePicker);
        var app = new Vue({
            el: '#app',
            data: {
                plan: [],
                product: [],
                rating:[],
                queries: ''
            },
            mounted: function () {
                var _this = this;
                _this.queries = window.location.href.slice("38");
                //方案
                fetch(`${baseAddress}/api/TransportApi/GetPlan/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.plan = data.map(x => ({ ...x, selected: { date: "", num: 0 } }));
                    }).catch(error => {
                        alert(error);
                    });
                //商品
                fetch(`${baseAddress}/api/TransportApi/GetProduct/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.product = data;
                    }).catch(error => {
                        alert(error);
                    });
                //評價
                fetch(`${baseAddress}/api/AttractionsApi/GetRating/${_this.queries}`, { method: "GET" })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.rating = data;
                    }).catch(error => {
                        console.log(error);
                    });
            },
            methods: {
                //日期限制
                minDate(d) {
                    let _this = this;
                    const today = new Date();
                    for (var i = 0; i < _this.plan.length; i++) {
                        if (d < today) {
                            _this.plan[i].selected.date = today;
                        }
                    }
                },

                //數量選擇
                plusNum: function (model) {
                    model.num++;
                },
                minusNum: function (model) {
                    if (model.num == 0) {
                        model.num = 0;
                    } else {
                        model.num--;
                    }
                },
                //計算總金額
                calculate: function (p) {
                    return p.planPrice * p.selected.num;
                },

                //加入購物車
                addCart: function (model) {
                    let _this = this;
                    _this.queries = window.location.href.slice("38");
                    let cartData = {
                        productId: _this.queries,
                        cartName: model.name,
                        cartPrice: model.planPrice * model.selected.num,
                        cartQuantity: model.selected.num,
                        cartDate: model.selected.date
                    };

                    fetch(`${baseAddress}/api/CartApi/AddToCart`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(cartData)
                    }).then(response => {
                        if (response.ok) {
                            alert("商品已加入購物車!");
                        } else {
                            throw new Error("無法將商品加入購物車!");
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                }
            },
            filters: {
                //貨幣格式
                formatCurrency: function (val) {
                    if (typeof val !== "number") return val;
                    return val.toLocaleString('zh-TW', { style: 'currency', currency: 'TWD', minimumFractionDigits: 0 });
                }
            }
        })
    </script>
}