@model IEnumerable<TravelProject1._0.Models.Product>


@{
    ViewData["Title"] = "商品瀏覽";
}


@*<div class="row" style="margin-top:10px">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/image/@item.ProductName" style="width:300px;height:270px" />
                <div class="caption">
                    <h3>@item.ProductName</h3>
                    <h4>單價:@item.Price</h4>
                    <p>
                        <a href="@Url.Action("AddCar","Member")?ProductId=@item.ProductId" class="btn btn-primary">加入購物車</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>*@
@foreach (var item in Model){
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
            <p class="card-text">@Html.DisplayFor(modelitem=>item.ProductName)</p>
    </div>
</div>
}