@model IEnumerable<TravelProject1._0.Models.Product>


@{
    ViewData["Title"] = "商品瀏覽";

}
@section Styles
{
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
}
<h1 class="display-4"></h1>
@*旋轉木馬*@
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/lib/image/foreast.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/lib/image/mountain.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/lib/image/mountain2.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
<div class="col-md-6">
    <ul class="list-group mt-3">
            <li class="list-group-item align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                黃金會員享雙重優惠
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                單筆消費含10000以上,點數加倍送
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
           
    </ul>

</div>
<div class="col-md-6">
        <ul class="list-group mt-3">

            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
            A list item
        </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
    </ul>

</div>
</div>

@* <div class="row" style="margin-top:10px">
    <div>■熱門景點 </div>
@foreach(var item in Model){

            <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <img src="~/lib/image/snowboard.jpg" class="card-img-top" alt="..." />
                    <h5 class="card-title">"@Html.DisplayFor(model=>item.ProductName)"</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"@Html.DisplayFor(model=>item.Price)"</h6>
                    <a href="#" class="card-link">選擇方案</a>
                    <a class="stretched-link text-dark" onclick="ShowMessage()"
                       >加入購物車</a>
                </div>
            </div>
            </div>
        }
</div> *@



    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-3" v-for="p in products">
                    <div class="card">
                    <img :src=p.image class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">
                            {{p.productName}}
                        </h5>
                        <h3 class="card-title">{{p.price}}</h3>
                        <p class="card-text">{{p.productId}}</p>
                        <a class="stretched-link text-dark" onclick="ShowMessage()">加入購物車</a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>

    




@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        function ShowMessage() {
            toastr["success"]("商品已加入購物車！");
        }
        let app = new Vue({
            data: {    
                products: [],
            },
            el: "#app",
            computed: {
            },
            mounted: function () {
                let _this = this;
                fetch("https://localhost:7025/api/ProductApi/GetImge")
                    .then(response => {
                        return response.json();
                    }).then(data => {
                        console.log(data);
                        _this.products = data;
                    })
                },
            methods: {

            }
        });
        // var app2 = Vue.createApp(app).mount("#app");
    </script>
}