@model IEnumerable<TravelProject1._0.Models.Product>


@{
    ViewData["Title"] = "商品瀏覽";

}

<h1 class="display-4">Welcome</h1>
@*旋轉木馬*@
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="~/lib/image/foreast.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/lib/image/mountain.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/lib/image/mountain2.jpeg" class="d-block w-100" alt="..." style="width:600px;height:500px;" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
<div class="col-md-6">
    <ul class="list-group mt-3">
            <li class="list-group-item align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
           
    </ul>

</div>
<div class="col-md-6">
        <ul class="list-group mt-3">

            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
            A list item
        </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center" style="width:450px">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
            <li class="list-group-item d-flex align-items-center">
                <span class="badge bg-primary rounded-pill">14</span>
                A list item
            </li>
    </ul>

</div>
</div>

<div class="row" style="margin-top:10px">
    <div>■熱門景點 </div>
@foreach(var item in Model){

            <div class="col-md-3">
            <div class="card" style="width: 15rem;">
                <div class="card-body">
                    <img src="~/lib/image/snowboard.jpg" class="card-img-top" alt="..." />
                    <h5 class="card-title">"@Html.DisplayFor(model=>item.ProductName)"</h5>
                    <h6 class="card-subtitle mb-2 text-muted">NT1099起</h6>
                    <a href="#" class="card-link">選擇方案</a>
                </div>
            </div>
            </div>
        }
</div>

