@model IEnumerable<TravelProject1._0.Models.Product>



@{
    ViewData["Title"] = "商品瀏覽";

}






<h1 class="display-4">Welcome</h1>
@foreach(var item in Model){

           
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">"@Html.DisplayFor(model=>item.ProductName)"</p>
                </div>
            </div>
        }

