@{
    ViewData["Title"] = "首頁";
}

@section Styles{
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <style>
        .img-hot {
            width: 250px;
            height: 250px;
            border-radius: 10px;
        }

        .red {
            color: red;
        }

    </style>
}

@* 首頁圖片 *@
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>人生就像是一場旅行</h6>
                <h2>放鬆心靈</h2>
                <p>旅遊，嘗試著走出去，你才會發現，世界遠不是你在出生的城市一呆幾十年所看的那樣，你會結識不同的人聽到各種曲折的故事交到一輩子的朋友。 </p>
                <a asp-controller="PlaneTK" asp-action="PlaneTK_catgory" class="btn theme_btn button_hover info">開始你的旅途</a>
            </div>
        </div>
    </div>
</section>

@* 熱門商品 *@
<div id="app">
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">熱門商品</h2>
            </div>
            <div class="row mb_30">
                <div class="col-lg-3 col-sm-6" v-for="p in products">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <a :href="'/Attractions/Plan/'+p.productId">
                                <img class="img-hot" :src="p.img">
                            </a>
                            <a :href="'/Attractions/Plan/'+p.productId" class="btn theme_btn button_hover info">立即購買</a>
                        </div>
                        <h4 class="sec_h4">{{p.productName}}</h4>
                        <h5>${{p.price}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* 商品種類 *@
    <section class="facilities_area section_gap">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
        </div>
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_w">商品種類</h2>
            </div>
            <div class="row mb_30">
                <div class="col-lg-6 col-md-6">
                    <div class="facilities_item">
                        <h4 class="sec_h4">機票</h4>
                        <p>人生就是一次充滿未知的旅行，在乎的是沿途的風景，在乎的是看風景的心情，旅行不會因為美麗的風景終止</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="facilities_item">
                        <h4 class="sec_h4">住宿</h4>
                        <p>人生就像一場旅行，不必在乎目的地，在乎的是沿途的風景以及看風景的心情，讓心靈去旅行！</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="facilities_item">
                        <h4 class="sec_h4">景點</h4>
                        <p>一個人的旅行，我走過了一季又一季，從夏蟬鳴叫，到雪花飄飛。一個人的旅行，我漂泊了一程又一程，從韶華年茂，到眉宇滄桑。</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="facilities_item">
                        <h4 class="sec_h4">交通</h4>
                        <p>
                            一根弦若是繃得太緊，總有一天會斷裂，一顆心若是禁錮得太久，總有一天會失去平衡，我們需要放飛心靈，讓心翱翔在自由的天空。

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    @* 商品銷售王 *@
    <section class="about_history_area section_gap">
        <div class="container">
            <div class="row" v-for="att in attraction">
                <div class="col-md-6 d_flex align-items-center">
                    <div class="about_content ">
                        <h2 class="title title_color" style="justify-content:center">本月銷售王: {{att.productName}}</h2>
                        <p>{{att.mainDescribe}}</p>
                        <a :href="'/Attractions/Plan/'+att.productId" class="button_hover theme_btn_two info">立即前往</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <a :href="'/Attractions/Plan/'+att.productId">
                        <img class="img-fluid" :src="att.img" />
                    </a>
                </div>

            </div>
        </div>
    </section>

    @* 推薦商品 *@
    <section class="latest_blog_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">推薦商品</h2>
                <p>關於旅行，關於生活，如此而已。 </p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-4 col-md-6" v-for="pp in productplan" :key="pp.collectId">
                    <div class="single-recent-blog-post">
                        <a :href="'/Book/Plan/'+pp.productId">
                            <div class="thumb">
                                <img class="img-fluid" :src="pp.img" />
                            </div>
                        </a>
                        <div class="details">
                            <div class="tags">
                                <a :href="'/Book/Plan/'+pp.productId" class="button_hover tag_btn">立即購買</a>
                                <i class="fa-regular fa-heart fa-beat red "
                                   :class="{ 'fa-solid': pp.heartIcon, 'fa-regular': !pp.heartIcon }"
                                   style="cursor: pointer; float: right; margin-right: 20px;"
                                   @@click="toggleHeart(pp)">
                                </i>
                            </div>
                            <a>
                                <h4 class="sec_h4">
                                    {{pp.productName}}
                                </h4>
                            </a>
                            <p>世間的事情都是如此當你刻意地追求時，它就像蝴蝶一樣振翅飛遠；當你專心致志之時，意外的收穫已悄悄來到你的身邊！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script>
        toastr.options = {
            "showDuration": "100",
            "hideDuration": "100",
            "timeOut": "5000", // 當超過此設定時間時，則隱藏提示訊息(單位: 毫秒)
            "extendedTimeOut": "1000", // 當使用者觸碰到提示訊息時，離開後超過此設定時間則隱藏提示訊息(單位: 毫秒)
        }
    </script>
    <script>
        var isLogin = ('@User.Identity.IsAuthenticated' == "True");
        let app = new Vue({
            el: "#app",
            data: {
                products: [],
                productplan: [],
                attraction: [],
            },
            mounted: function () {
                let _this = this;
                fetch(`/api/ProductApi/GetAttractionPlan`)
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.attraction = data;
                    });
                fetch(`/api/ProductApi/GetProduct`)
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.products = data;
                    });
                var task = [_this.getProductPlanApi()];
                if (isLogin) task.push(_this.getCollectOfProductIdApi());
                Promise.all(task).then(x => {
                    var collect = x[1] ? x[1] : [];
                    _this.productplan = x[0].map(z => ({ ...z, heartIcon: collect.some(c => c == z.productId) }));
                });
            },
            methods: {
                getProductPlanApi: async function () {
                    return await fetch(`/api/ProductApi/GetProductPlan`).then(x => x.json());
                },
                getCollectOfProductIdApi: async function () {
                    return await fetch(`/api/CollectApi/GetCollectOfProductId`).then(x => x.json());
                },
                ShowMessage: function () {
                    toastr["success"]("商品已加入收藏夾！");
                },

                toggleHeart: function (pp) {
                    let _this = this;
                    if (!isLogin) return toastr["error"]("商品無法加入收藏夾請先登入！");;
                    if (!pp.heartIcon) {
                        var dom =
                        {
                            ProductId: pp.productId,
                            CollectName: pp.productName,
                            CollectImage: pp.img,
                        };
                        fetch(`/api/CollectApi/PostCollect`, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(dom)
                        }).then(response => {
                            if (response.ok)
                                toastr["success"]("商品已加入收藏夾！");
                        }).catch(err => {
                            toastr["error"]("商品加入收藏夾失敗！");
                        })
                    }
                    else {
                        var dom =
                        {
                            ProductId: pp.productId,
                            CollectName: pp.productName,
                            CollectImage: pp.img,
                        };
                        fetch(`/api/CollectApi/DeleteCollect`, {
                            method: "DELETE",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify(dom)
                        })
                            .then(response => {
                                if (response.ok)
                                    toastr["success"]("商品已移除收藏夾！");
                            }).catch(err => {
                                toastr["error"]("商品移除收藏夾失敗！");
                            })
                    }
                    pp.heartIcon = !pp.heartIcon;
                },
            }
        })
    </script>
}