@{
    ViewData["Title"] = "商品評價";
}

@section Styles{

}

<div id="app" class="container">
    <div class="row">
        <div class="col-md-7">
            <h2>請給這個商品打個分數</h2>
            <p><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
            <h4>評論內容</h4>
            <textarea></textarea>
        </div>
        <div class="col-md-4" style="margin-left:50px;">
            <img src="~/lib/image/snowboard.jpg" style="width:100%;height:200px;" />
            <h2>商品名稱</h2>
            <h4>數量:</h4>
            <h4>價格:</h4>
            <h4>使用日期:</h4>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var baseAddress = "https://localhost:7025";
        var app = new Vue({
            el: '#app',
            data: {

            },
            mounted: function () {

            },
            methods: {
                productRating: function () {
                    fetch().then(response => {
                        if (response.ok) {
                            alert("商品評價成功");
                        } else {
                            throw new alert("評價失敗");
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                }
            }
        })
    </script>
}