@{
    ViewData["Title"] = "商品評價";
    var result = string.IsNullOrEmpty(ViewBag.key) ? "[]" : Html.Raw(ViewBag.key);
}

@section Styles{
    <link rel="stylesheet" href="https://unpkg.com/vue2-datepicker/index.css">
    <link href="~/css/rating.css" rel="stylesheet" />
}

<div id="app" class="container">
    <div class="row">
        <div class="col-8">
            <h1>商品評價</h1>
            <div class="rating-date">
                <h4>評價日期:</h4>
                <template>
                    <div>
                        <date-picker v-model="date" valueType="format" @@input="todayDate"></date-picker>
                    </div>
                </template>
            </div>
            <div class="rating-star">
                <h4>評分:</h4>
                <div class="star">
                    <i class="fa-solid fa-star fa-2xl"
                       v-for="(star, index) in stars"
                       :key="index"
                       v-on:click="rate(index+1)"
                       :class="{ 'active': index < selectedStar }">
                    </i>
                </div>
            </div>
            <div>
                <h4>評論內容:</h4>
                <textarea class="txt-describe" v-model="describe"></textarea>
            </div>
            <div class="form-btn">
                <button class="btn btn-submit info" v-on:click="addRating">送出</button>
            </div>
        </div>
        <div class="col-3 productInfo" offset-1>
            <div>
                <img :src="od[0].odimg" />
            </div>
            <div class="product-text">
                <h3>商品名稱:</h3>
                <div>{{od[0].odname}}</div>
                <div>
                    <span class="product-title">使用日期:</span>
                    {{od[0].useDate | formatDate}}
                </div>
                <div>
                    <span class="product-title">數量:</span>
                    {{od[0].quantity}}
                </div>
                <div>
                    <span class="product-title">金額:</span>
                    {{od[0].unitPrice}}
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/vue2-datepicker/index.min.js"></script>
    <script>
        Vue.component(DatePicker);
        var app = new Vue({
            el: '#app',
            data: {
                date: new Date(),
                describe: "",
                stars: [1, 2, 3, 4, 5],
                selectedStar: -1,
                queries: "",
                od: @result,
                rating: []
            },
            methods: {
                //商品評價
                addRating: function () {
                    let _this = this;
                    _this.queries = _this.od[0].productId;
                    let ratingData = {
                        productId: _this.queries,
                        ratingDate: _this.date,
                        ratingScore: _this.selectedStar,
                        describe: _this.describe
                    };
                    fetch(`/api/RatingApi/PostRating/${_this.queries}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(ratingData)
                    }).then(response => {
                        if (response.ok) {
                            alert("商品評價成功");
                            location.href = "/User/UserOrder";
                        } else {
                            throw new Error("有資料未填寫");
                        }
                    }).catch(error => {
                        alert(error);
                    })
                },

                //評分
                rate: function (score) {
                    if (score >= 1 && score <= 5) {
                        this.selectedStar = score;
                    }
                },

                //日期限制
                todayDate: function (d) {
                    let today = new Date();
                    if (d !== today) {
                        this.date = today;
                    }
                }
            },
            filters: {
                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                }
            }
        })
    </script>
    }
