<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h2>購物車</h2>
		</div>
		<div class="col-md-2">
			購物車
		</div>
		<div class="col-md-2">
			付款
		</div>
		<div class="col-md-2">
			完成訂單
		</div>
		<div class="col-md-4">
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-8">

				<div class="card text-bg-light mb-3" style="width:100%;">
					<div class="card-header">訂購人資訊</div>
					<div class="card-body">
						<h3 class="card-title">資料核對</h3>
						<hr>
						<p class="card-text">姓名:</p>
						<p class="card-text">地址:</p>
						<p class="card-text">電話:</p>
						<p class="card-text">Email:</p>
						<p class="card-text">點數:</p>
					</div>
				</div>
			
			<div class="card text-bg-light mb-3" style="width:100%;">
				<div class="card-header">訂購產品資訊</div>
				<div class="card-body">
					<h3 class="card-title">商品核實:</h3>
					<hr>
					<p class="card-text">商品名稱:</p>
					<p class="card-text">商品計畫:</p>
					<p class="card-text">商品時間:</p>
					<p class="card-text">商品細節:</p>
					<p class="card-text">商品注意事項:</p>
				</div>
			</div>

		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="card text-bg-light mb-3" style="width:100%;">
					<div class="card-header">訂單確認</div>
					<div class="card-body">
						<p class="card-text">訂單總額:</p>
						<p class="card-text">點數回饋:</p>
						<div style="text-align:end">
							<button style="background-color:red">確認資訊</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>