@{
    ViewData["Title"] = "ForgetPassword";
}





<head>
    <title>密碼重設</title>
</head>
<body>
    <div id="app"> 
    <h1>忘記密碼</h1>
    <form id="forgotPasswordForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" v-model="email" required />
        <button type="submit">
            提交
        </button>
    </form>
    </div>




</body>
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        //不會執行連接到某個網頁的動作
        document.getElementById("forgotPasswordForm").addEventListener("submit", function (e) {
            e.preventDefault();

            var email = document.getElementById("email").value;
            let app = new Vue({
                data: {
                    email: "",
                },
                el: "#app",
                computed: {
                },
                mounted: {},
                methods: function () {
                    let _this = this;
                    fetch("https://localhost:7025/api/UserApi/ForgotPassword", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            email: _this.email
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert("密碼重設連結已寄送至郵件請至信箱確認");
                        })
                        .catch(error => {
                            console.error("error:", error);
                            alert("發生錯誤.");
                        })
                })
    </script>

}