
@{
    ViewData["Title"] = "ForgetPassword";
}



<!DOCTYPE html>
<html>
<head>
    <title>密碼重設</title>
</head>
<body>
    <h1>忘記密碼</h1>
    <form id="forgotPasswordForm">
        <label for="username">Email:
        </label>
        <input type="text" id="username" name="username" required>
        <button type="submit">提交
        </button>
    </form>

    <script>
        document.getElementById("forgotPasswordForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var username = document.getElementById("username").value;

            fetch("/api/Password/forgot", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: username
                })
            })
                .then(response => response.json())
                .then(data => {
                    alert("重設驗證碼至連結.");
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert("發生錯誤.");
                });
        });
    </script>
</body>
</html>