
@{
    ViewData["Title"] = "ForgetPassword";
}



<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <form id="resetForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <button type="submit">Reset Password</button>
    </form>

    <div id="resetMessage" style="display: none;"></div>

    <script src="resetPassword.js"></script>
</body>
</html>

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const resetForm = document.getElementById("resetForm");
            const resetMessage = document.getElementById("resetMessage");

            resetForm.addEventListener("submit", async function (event) {
                event.preventDefault();

                const email = document.getElementById("email").value;

                const response = await fetch("/api/ResetPassword", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email: email }),
                });

                const data = await response.json();

                if (response.ok) {
                    resetMessage.textContent = "密碼重設連結以寄到您的信箱"
                    resetMessage.style.color = "green";
                } else {
                    resetMessage.textContent = data.message || "密碼重設失敗"
                    resetMessage.style.color = "red";
                }

                resetMessage.style.display = "block";
            });
        });

    </script>
}