@{
	ViewData["Title"] = "註冊會員";
}
@section Styles
	{
	<link href="~/css/register.min.css" rel="stylesheet" />
@* 	<style>
		.formatError {
			color: red;
			font-size: .875em;
		}
	</style> *@

  }

<div id="app" class="element d-flex justify-content-center align-items-center">
	<div class="">
		<h1 class="text-center">註冊會員</h1>
		<div class="row">
			<div class="inputbox mb-3 col">
				<input type="text" v-model.trim="name" required />	
				<span><label style="font-size:14px; color:#c1121f">*</label>姓名</span>
				<div v-if="name && !isValid(name,validType.name)" class="fs-6 text-danger">您輸入的格式錯誤</div>
				@*    <div v-if="usernameTaken">該用戶名已存在</div> *@
			</div>
			<div class="mb-3 col">
				<select class="form-select" aria-label="Default select example">
					<option selected disabled>性別</option>
					<option value="M" >男</option>
					<option value="F">女</option>
					<option value="N" >不指定</option>
				</select>
			</div>
		</div>
		<div class="inputbox mb-3">
			<input id="" v-model.trim="birthday" type="date" required @@focus="bithDaySpan = true" @@blur="bithDaySpan = false" />
			<span v-if="bithDaySpan"><label style="font-size:14px; color:#c1121f">*</label>生日</span>
			<div class="fs-6 text-danger" v-if="birthday && !isValid(birthday,validType.birthday)">您輸入的格式不正確</div>
		</div>
		<div class="row">
			<div class="inputbox mb-3">
				<input v-model.trim="email" type="email" name="email" id="emailInput" required />
				<span><label style="font-size:14px; color:#c1121f">*</label>郵件</span>
				<div class="fs-6 text-danger" v-if="email && !isValid(email,validType.email)" id="emailError">您輸入的格式不正確</div>
			</div>
			<div class="inputbox mb-3">
				<input v-model.trim="phone" type="text" required />
				<span><label style="font-size:14px; color:#c1121f">*</label>電話</span>
				<div class="fs-6 text-danger" v-if="phone && !isValid(phone,validType.phone)">您輸入的格式不正確</div>
			</div>
		</div>
		<div class="row">
			<div class="inputbox mb-3 ">
				<input v-model.trim="password" type="password" required id="password" />
				<span><label style="font-size:14px; color:#c1121f">*</label>密碼</span>
				<div class="fs-6 text-danger" v-if="password && !isValid(password,validType.password)">您輸入的格式不正確</div>
			</div>
			<div class="inputbox mb-3">
				<input v-model.trim="confirmPassword" type="password" required id="confirmPassword" />
				<span><label style="font-size:14px; color:#c1121f">*</label>重複輸入密碼</span>
				<div class="fs-6 text-danger" v-if="confirmPassword && !passwordmatch">兩次輸入的密碼不一致</div>
            </div>
		</div>
		<div class="d-flex justify-content-center">
			<button type="button" class="dup" id="submitButton" @@click="Register">註冊</button>
		</div>
	</div>
</div>




@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="~/js/validation.min.js"></script>
	<script>
		var vueApp = new Vue({
			el: '#app',
			data: {
				confirmPassword: "",
				username: '',
				usernameTaken: false,
				form: [],
				name: "",
				gender: "",
				birthday: "",
				phone: "",
				email: "",
				password: "",
				bool: "",
				bithDaySpan:false,
				validType: validType,
			},	
			methods: {
				isValid: function (str, type) {
					return window.validation(str, type);
				},
				Register: function () {
					let _this = this;
					var form = {
						UserId: "",
						Name: _this.name,
						Gender: _this.gender,
						Birthday: _this.birthday,
						Phone: _this.phone,
						Email: _this.email,
						Password: _this.password
					};
					axios.post(`/api/UserApi/PostUser`, form)
						.then(response => {
							if (response.data) {
								alert("註冊成功")
								window.location.href = "/Home/Index";
							}
						}).catch(err => {
							alert("輸入的格式有錯");
						});
				},
			},
			computed: {
				passwordmatch: function () {
					let _this = this;
					var password = _this.password;
					var confirmPassword = _this.confirmPassword;
					if (password === confirmPassword) {
						return true;
					}
					return false;
				},
			},
		});

	</script>
	}

