@{
    ViewData["Title"] = "Register";
}
@section Styles
{
    <style>
        .formatError
        {
            color: #dc3545;
            font-size: .875em;
        }
    </style>
}
<h1>Register</h1>
<div id="app">
    <div class="panel-heading">
    <div class="panel panel-primary">
            <div class="panel-body">

                <div class="form-group">
                    <label for="name">姓名:</label>
                    <input type="text" class="form-control" v-model.trim="name" required/>
                    <div v-if="!isValid(name,validType.name)" class="formatError">您輸入的格式錯誤</div>
                 @*    <div v-if="usernameTaken">該用戶名已存在</div> *@
                </div>
                <div class="form-group">
                    <label for="gender"></label>
                    <input type="radio" v-model="gender" value="F" />男
                    <input type="radio" v-model="gender" value="M" />女
                </div>
                <div class="form-group">
                    <label for="birthday">生日:</label>
                    <input v-model.trim="birthday" type="datetime" class="form-control" />
                    <div class="formatError" v-if="!isValid(birthday,validType.birthday)">您輸入的格式不正確</div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input v-model.trim="email" class="form-control" type="email" name="email" id="emailInput" placeholder="必填" required />
                    <div class="formatError" v-if="!isValid(email,validType.email)" id="emailError">您輸入的格式不正確</div>
                </div>
              @*   <label for="address">Address:</label>
                <input v-model.trim="address" class="form-control" name="address" id="addressInput" placeholder="必填" required />
                <div class="formatError" v-if="!isValid(address,validType.address)" id="addressError">您輸入的格式不正確</div>
            </div> *@
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input v-model.trim="phone" type="text" class="form-control">
                <div class="formatError" v-if="!isValid(phone,validType.phone)">您輸入的格式不正確</div>
            </div>
            <div class="form-group">
                <label for="password">密碼:</label>
                <input v-model.trim="password" type="password" class="form-control">
                <div class="formatError" v-if="!isValid(password,validType.password)">您輸入的格式不正確</div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">重複輸入密碼:</label>
                <input type="password" class="form-control">
                <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
            @* <div v-if="passwordmatch()" class="invalid-feedback ">兩次所輸入密碼不一致</div> *@
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="submitButton" @@click="Register">註冊</button>
        </div>
        </div>
    </div>


<div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">錯誤訊息</h4>
            </div>
            <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">
            </div>
        </div>
    </div>
</div> 


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/validation.min.js"></script>
    <script>
        var baseAddress = "https://localhost:7025";
        var vueApp = new Vue({
            el: '#app',
            data: {
                confirmPassword: "",
                username: '',
                usernameTaken: false,
                form: [],
                name: "",
                gender: "",
                birthday: "",
                phone: "",
                email: "",
                password: "",
                // address: "",
                bool: "",
                validType: validType,
            },
            computed: {

            },
            methods: {
                isValid: function(str,type)
                {
                    return window.validation(str, type);
                },
                Register: function () {
                    let _this = this;
                    var form = {
                        UserId: "",
                        Name: _this.name,
                        Gender: _this.gender,
                        Birthday: _this.birthday,
                        Phone: _this.phone,
                        Email: _this.email,
                        Password: _this.password
                    };    
                    axios.post(`${baseAddress}/api/UserApi/PostUser`, form)
                        .then(response => {
                            if (response.data) {
                                window.location.href = "/Home/Index";
                            }
                        }).catch(err => {
                            alert(err);
                        });
                },
                passwordmatch() {
                    return this.password == this.confirmPassword
                },
                // checkUsername: function () {
                //     axios.get(`/api/check-username?username=${this.username}`)
                //         .then(response => {
                //             this.usernameTaken = response.data.exists;
                //         })
                //         .catch(error => {
                //             console.error('使用者已經存在啦', error);
                //         });
                // }
            },
        });

    </script>
}

