
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div id="app">
<div class="panel panel-primary">
    <div class="panel-heading">
    <div class="panel-body">
            <div class="form-group">
                <label for="name">姓名:</label>
                <input asp-validation-for="" type="text" class="form-control" v-model="name"/>
                <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
            <div class="form-group">
                <label for="gender"></label>
                <input type="radio" v-model="gender" value="F"/>男
                    <input type="radio" v-model="gender" value="M" />女
            </div>
            <div class="form-group">
                <label for="birthday">生日:</label>
                    <input v-model="birthday" type="datetime" class="form-control" />
                    <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
        <div class="form-group">
            <label for="email">Email:</label>
                    <input v-model="email" class="form-control" type="email" name="email" id="email" placeholder="必填" required />
                    <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
                <label for="address">Address:</label>
                <input v-model="address" class="form-control" name="address" id="address" placeholder="必填" required />
                <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input v-model="phone" type="text" class="form-control">
                <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
        <div class="form-group">
                <label for="password">密碼:</label>
                    <input v-model="password" type="password" class="form-control">
                    <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
        </div>
            <div class="form-group">
                <label for="password">重複輸入密碼:</label>
                <input v-model="password" type="password" class="form-control">
                    <div class="invalid-feedback">已被註冊、或您輸入的格式不正確</div>
            </div>
    </div>
    <div class="panel-footer">
                <button type="button" class="btn btn-primary" @@click="Register" >註冊</button></button>
    </div>
</div>
</div>

<div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">錯誤訊息</h4>
            </div>
            <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var baseAddress ="https://localhost:7025";
        var vueApp = new Vue({
            el: '#app',
            data: {
                form: [],
                name: "",
                gender: "",
                birthday: "",
                password: "",
                phone: "",
                email: "",
                address:"",
            },
            
            methods: {
                Register: function () {
                    let _this = this;
                    var form = {
                        userId: "",
                        Name: _this.name,
                        Gender: _this.gender,
                        Birthday: _this.birthday,
                        Password: _this.password,
                        Phone: _this.phone,
                        Email: _this.email,
                        Address:_this.address
                    };
                      axios.post(`${baseAddress}/api/UserApi/postpeople`, form).then(response => {
                        alert(response.data);
                    }).catch(err => {
                        alert(err);
                    });
                },
            }
        });
   
    </script>
}

