@section Styles
    {
    <link href="~/css/table.min.css" rel="stylesheet" />
}

<div id="app">
    
<table class="border=1">
    <thead>會員資料</thead>
   
    <tr>
        <th>使用者名稱</th>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <th>郵件</th>
            <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>電話</th>
            <td>{{user.phone}}</td>
    </tr>
    <tr>
        <th>性別</th>
            <td>{{user.gender}}</td>
    </tr>
    <tr>
        <th>生日</th>
            <td>{{user.birthday}}</td>
    </tr>
    <tr>
        <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">更改資料</button>
        </td>
    </tr>
       
</table>
  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">修改會員資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                    <tr>
                        <th>使用者名稱</th>
                            <td><input v-model="user.name" /></td>
                    </tr>
                    <tr>
                        <th>郵件</th>
                            <td><input v-model="user.email" /></td>
                    </tr>
                    <tr>
                        <th>電話</th>
                            <td><input v-model="user.phone" /></td>
                    </tr>
                    <tr>
                        <th>性別</th>
                            <td><input v-model="user.gender" /></td>
                    </tr>
                    <tr>
                        <th>生日</th>
                            <td><input v-model="user.birthday" /></td>
                    </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" @@click="UpdateUser">修改會員資料</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
  
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/validation.min.js"></script>
    <script>
        var baseAddress = "https://localhost:7025";
        var vueApp = new Vue({
            el: '#app',
            data: {
                user: {},
                userUpdate: {},
            },
            computed: {
            
            },
            mounted:function() {
                let _this = this;
                fetch(`${baseAddress}/api/UserApi/GetUser/1`, {
                                method: "GET"
                            }).then(response => {
                                if (response.ok) {
                                    return response.json();
                                }
                            }).then(data => {
                                _this.user = data
                            }).catch(err => {
                                alert(err);
                            });
            },
            methods: {
                UpdateUser: function () {
                    let _this = this;
                    let request = {
                        UserId:"1",
                        Name: _this.userUpdate.name,
                        Email: _this.userUpdate.email,
                        Phone: _this.userUpdate.phone,
                        Gender: _this.userUpdate.gender,  
                        Birthday: _this.userUpdate.birthday,
                    };

                    fetch(`${baseAddress}/api/UserApi/UpdateUser/1`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(request)
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert("修改成功");
                        })
                        .catch(err => {
                            alert("修改失敗");
                        });
                }
            },
         });

    </script>
}