@section Styles{
    <style>
        .eachfield {
            background-color: #faf9f9;
        }

        .groundfield {
            background-color: #eeeeee;
        }

        .beauty-label {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            margin-bottom: 5px;
            margin-left:40px;
        }

        .beauty-input {
            width: 200px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            outline: none;
        }

            .beauty-input:hover {
                border-color: #007bff;
            }


            .beauty-input:focus {
                border-color: #007bff;
            }

        .beauty-select {
            width: 100px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            outline: none;
        }

            .beauty-select:hover {
                border-color: #007bff;
            }

            .beauty-select:focus {
                border-color: #007bff;
            }

        .css {
            border-radius: 10px;
            margin-left: 2px;
            width: 100px;
            height: 40px;
            border: 2px solid deepskyblue;
            background-color: white;
        }

        .separator {
            border-top: 1px solid black;
            margin: 20px 0;
        }

        .formatError {
            color: red;
            font-size: .875em;
            margin-left:80px;
        }
    </style>
}

<div id="app" class="groundfield">
    <div class="container">
        <br />
        <br />
        <div class="row" style="height: auto; overflow: visible;">
            <div class="col-md-8 eachfield">
                <span style="font-weight: bold; font-size: 36px; margin-top:50px;margin-bottom:50px;" class="d-flex justify-content-center align-items-center ">帳號設定</span>
                <div style="font-weight: bold; font-size: 24px; margin-top:50px;margin-bottom:20px;" class="d-flex justify-content-center align-items-center "> 基本資料</div>
                <hr/>
                <div class="d-flex flex-column justify-content-center align-items-center ">
                    <div class="mb-3 row">
                        <div class="col-xl-6">
                            <label for="username" class="beauty-label">名稱:</label>
                            <input type="text" id="username" v-model.trim="user.name" class="beauty-input" @@input="isUserModified = true" />
                            <div class="formatError" v-if="!isValid(user.name,validType.name)">您輸入的格式不正確</div>
                        </div>
                        <div class="col-xl-6">
                            <label for="email" class="beauty-label">郵件:</label>
                            <input type="email" id="email" v-model.trim="user.email" class="beauty-input" @@input="isUserModified = true">
                            <div class="formatError" v-if="!isValid(user.email,validType.email)">您輸入的格式不正確</div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-xl-6">
                            <label for="phone" class="beauty-label">電話:</label>
                            <input type="text" id="phone" v-model.trim="user.phone" class="beauty-input" @@input="isUserModified = true">
                            <div class="formatError" v-if="!isValid(user.phone,validType.phone)">您輸入的格式不正確</div>
                        </div>
                        <div class="col-xl-6">
                            <label class="beauty-label">性別:</label>
                            <select v-model="user.gender" class="beauty-input" @@change="isUserModified = true">
                                <option value="M">男</option>
                                <option value="F">女</option>
                                <option value="N">不指定</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="birthday" class="beauty-label">生日:</label>
                        <input type="date" id="birthday" v-model="user.birthday" placeholder="YYYY-MM-DD"class="beauty-input" @@input="isUserModified = true" >
                    </div>
                    <button class="genric-btn"
                            @@click="UpdateUser"
                            :class="{ '': !isUserModified, 'info-border': isUserModified }"
                            :disabled="!isUserModified">更新資料
                    </button>
                </div>
            </div>
            <div class="col-md-3 offset-1 eachfield">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <div style="text-align:center">
                            <img class="" src="~/img/dog.jpg" style="border-radius:50%;width:150px;height:150px" />
                        </div>
                        <br />
                        <h4 class="widget_title">會員資料</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UpdateUser" style="font-weight: bold; color:#52c5fd ;font-size: 14px;">
                                    <p>個人資訊</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserOrder">
                                    <p>商品訂單</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserCollect">
                                    <p>收藏夾</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserPoint">
                                    <p>點數</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/validation.min.js"></script>
    <script>
        var vueApp = new Vue({
            el: '#app',
            data: {
                user: {},
                isUserModified: false,
                validType: validType,
            },
            mounted: function () {
                let _this = this;
                fetch(`/api/UserApi/GetUser`, {
                    method: "GET"
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                }).then(data => {
                    _this.user = data;
                }).catch(err => {
                    alert("載入失敗");
                });
            },
            methods: {
                isValid: function (str, type) {
                    return window.validation(str, type);
                },
                UpdateUser: function () {
                    let _this = this;
                    let request = {
                        name: _this.user.name,
                        email: _this.user.email,
                        phone: _this.user.phone,
                        gender: _this.user.gender,
                        birthday: _this.user.birthday,
                    };

                    fetch(`/api/UserApi/UpdateUser`, {
                        method: "PUT",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(request)
                    }).then(response => {
                        if (response.ok) {
                            alert("修改成功");
                            window.location.href = "/User/UpdateUser";
                        }
                    }).catch(err => {
                        alert("修改失敗,格式錯誤");
                    });
                },
            },
            filters: {
                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                },
            },
        });
    </script>
}