@section Styles{
    <style>
        .eachfield {
            background-color: #faf9f9;
        }

        .groundfield {
            background-color: #eeeeee;
        }

        .favorites {
            list-style-type: none;
            padding: 0;
        }

        .favorite-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 5px 0;
        }

        .favorite-title {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .favorite-name {
            flex: 1;
        }

        .delete-button {
            background-color: #f00;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
}


<div id="app" class="groundfield">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-8 eachfield">
                <h2 style="text-align:center;font-size:36px">收藏的項目</h2>
                <ul class="favorites">
                    <li class="favorite-title">
                        <span class="me-3">訂購日期</span>
                        <span>訂單編號</span>
                        <span>付款狀態</span>
                        <span></span>
                    </li>
                    <li v-for="favorite in favorites" class="favorite-item">
                        <img class="img-fluid" :src="favorite.collectImage" style="width:150px;height:150px;" />
                        <span class="me-5">{{favorite.collectName}}</span>
                        <span class="me-3">{{favorite.productId}}</span>
                        <button class="btn btn-delete danger" data-bs-toggle="modal" data-bs-target="#deleteItem" @@click="deleteModal(favorite)"><i class="fa-solid fa-trash-can"></i>删除</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 offset-1 eachfield">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <div style="text-align:center">
                            <img class="" src="~/img/dog.jpg" style="border-radius:50%;width:150px;height:150px" />
                        </div>
                        <br />
                        <h4 class="widget_title">會員資料</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UpdateUser">
                                    <p>個人資訊</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserOrderDetails">
                                    <p>商品訂單</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserCollect" style="font-weight: bold; color:#52c5fd ;font-size: 14px;">
                                    <p>收藏夾</p>
                                </a>
                            </li>
                            <li>
                                <a  class="d-flex justify-content-between" asp-Controller="User" asp-action="UserPoint">
                                    <p>點數</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header info">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">刪除商品</h1>
                </div>
                <div class="modal-body">
                    <h4>您確定要刪除所選收藏嗎?</h4>
                    <div>商品名稱:{{remove.collectName}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-delete danger" @@click="removeFavorite">刪除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        var baseAddress = "https://localhost:7025";
        var vueApp = new Vue({
            el: '#app',
            data: {
                favorites: [],
                fr: [],
                remove: [],
            },
            mounted: function () {
                let _this = this;
                axios.get('/api/CollectApi/GetCollect')
                    .then((response) => {
                        _this.favorites = response.data;
                    })
                    .catch((error) => {
                        console.log('取得後端失敗', error);
                    });
            },
            methods: {
                //刪除modal
                deleteModal: function (model) {
                    let _this = this;
                    _this.remove = Object.assign({}, model);
                },
                removeFavorite() {
                    let _this = this;
                    fetch(`${baseAddress}/api/CollectApi/DeleteCollect`, {
                        method: "DELETE",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(_this.remove)
                    }).then(response => {
                        if (response.ok) console.log("刪除成功");
                     location.href= "/User/UserCollect";
                    }).catch(err => {
                        console.log("刪除失敗");
                    })
                },
            },
        });
    </script>
}