@* @{
    Layout = "~/Views/User/UserCenter.cshtml";
} *@

@section Styles{
    <link href="~/css/orderdetails.css" rel="stylesheet" />
}
<section id="app" class="accomodation_area">
    <h1>會員歷史訂單</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row" v-for="o in orders">
                    <div class="row product-items outer-box" v-for="d in o.detail">
                        <div class="col-md-3" >
                            <img class="" :src="d.odimg" style="width:100%" />
                        </div>
                        <div class="col-md-6  align-items-center">
                            <div class="about_content ">
                                <div class="my-title">
                                    <labe >訂購名稱:</labe>{{d.odname}}
                                </div>
                                <br />
                                <div class="my-text">
                                    <labe>訂購日期:</labe>{{o.orderDate | formatDate}}
                                    </div>     
                                <div class="my-text"> <labe>數量:</labe>{{d.quantity}}</div>
                                <div class="my-text"> <labe>訂購價格:</labe>{{d.unitPrice}}</div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="button_hover theme_btn_two genric-btn info circle">聯絡商家</a>
                            <br />
                            <button asp-controller="Rating" asp-action="Index" class="genric-btn info-border circle arrow">給予評論<i class="fa-solid fa-arrow-right" style="margin-left:10px;"></i></button>
                        </div>         
                </div>
            </div>
            </div>
            <div class="col-md-3">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <img class="" src="" />
                        <h4 class="widget_title">會員資料</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between" >
                                    <p>個人資訊</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>商品訂單</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>收藏夾</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>喜愛</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
        
    </div>
    </section>


@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var baseAddress = "https://localhost:7025";

        // 讀取名為 "your_authentication_cookie_name" 的 Cookie
        var authenticationCookie = getCookie("CookieAuthenticationDefaults.AuthenticationScheme");

        var vueApp = new Vue({
            el: '#app',
            data: {
                orders: [
                    {
                        orderDate: "",
                        orderId: "",
                        detail: [
                            {
                                planId: "", quantity: "", unitPrice: "", odimg: "", odname:"",
                            }
                        ]
                    }
                ]
            },
            filters: {
                //日期格式
                formatDate: function (str) {
                    if (!str) return "";
                    var d = new Date(str);
                    return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
                },
            },
            mounted: function () {
                let _this = this;
                fetch(`${baseAddress}/api/UserApi/OrderDetails`, {
                    method: "GET",
                    headers: {
                        "Authorization": "Bearer " + authenticationCookie
                    }
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("錯誤代碼為 " + response.status);
                    }
                }).then(data => {
                    _this.orders = data;
                    console.log(data);
                }).catch(err => {
                    alert(err);
                });
            }
        });


        // 定義一個函數用於獲取指定名稱的 Cookie
        function getCookie(name) {
            // 定義 Cookie 名稱的前綴，搜尋匹配的 Cookie
            var namePre = name + "=";

            // 使用分號分隔所有 Cookie，將它們存儲在一個陣列中
            var cookies = document.cookie.split(';');

            // 遍歷 Cookie 陣列
            for (var i = 0; i < cookies.length; i++) {
                // 獲取當前替代的 Cookie
                var cookie = cookies[i];

                // 去掉 Cookie 值首部的空格（如果有的話）
                while (cookie.charAt(0) === ' ') cookie = cookie.substring(1, cookie.length);

                // 檢查 Cookie 是否以我們指定的名稱前綴開頭
                if (cookie.indexOf(namePre) === 0) {
                    return cookie.substring(namePre.length, cookie.length);
                }
            }

            // 如果未找到匹配的 Cookie，返回 null
            return null;
        }



    </script>
    }
