@section Styles
    {
    <style>
        .eachfield {
            background-color: #faf9f9;
        }

        .groundfield {
            background-color: #eeeeee;
        }

        .beauty-label {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: #333;
            margin-bottom: 5px;
            margin-left: 40px;
        }

        .beauty-input {
            width: 200px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            outline: none;
        }

            .beauty-input:hover {
                border-color: #007bff;
            }


            .beauty-input:focus {
                border-color: #007bff;
            }

        .beauty-select {
            width: 100px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            outline: none;
        }

            .beauty-select:hover {
                border-color: #007bff;
            }

            .beauty-select:focus {
                border-color: #007bff;
            }

        .css {
            border-radius: 10px;
            margin-left: 2px;
            width: 100px;
            height: 40px;
            border: 2px solid deepskyblue;
            background-color: white;
        }

        .separator {
            border-top: 1px solid black;
            margin: 20px 0;
        }
    </style>
}

<div id="app" class="groundfield">
    <div class="container">
        <br />
        <br />
        <div class="row" style="height: auto; overflow: visible;">
            <div class="col-8 eachfield">
                <span style="font-weight: bold; font-size: 36px; margin-top:50px;margin-bottom:50px;" class="d-flex justify-content-center align-items-center ">點數機制</span>
                <div style="font-weight: bold; font-size: 24px; margin-top:50px;margin-bottom:20px;" class="d-flex justify-content-center align-items-center ">會員點數</div>
                <hr />
                <div class="row">
                    <div class="col-3">
                        <label for="file">點數條:</label>
                        </div>
                        <div class="col-9">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :aria-valuenow="now" :aria-valuemin="min" :aria-valuemax="max" :style="p"></div>
                            </div>
                        </div>
                    </div>
               
            </div>
            <div class="col-3 offset-1 eachfield">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <div style="text-align:center">
                            <img class="" src="~/img/dog.jpg" style="border-radius:50%;width:150px;height:150px" />
                        </div>
                        <br />
                        <h4 class="widget_title">會員資料</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UpdateUser">
                                    <p>個人資訊</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserOrderDetails">
                                    <p>商品訂單</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserCollect">
                                    <p>收藏夾</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between" asp-Controller="User" asp-action="UserPoint" style="font-weight: bold; color:#52c5fd ;font-size: 14px;">
                                    <p>點數</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/validation.min.js"></script>
    <script>
        var baseAddress = "https://localhost:7025";
        var vueApp = new Vue({
            el: '#app',
            data: {
              max:1000,
              min:0,
              now:0
            },
            computed: {
                p: function () {
                    let temp = (this.now / this.max) * 100;
                    return { width: temp.toFixed()+"%" };
                }
            },
            mounted: function () {
                let _this=this
                fetch(`${baseAddress}/api/Userapi/GetPoint`).then(response => {
                    if (response.ok) return response.text();
                }).then(data => {
                    _this.now = data;
                }).catch(err => { 
                   alert("讀取點數錯誤")
                })
            },
            methods: {

            },

        });

    </script>
}