@* user柱狀圖分析 *@
<div style="width:100%">
	<div id="member" style="min-width:100%;height:400px"></div>
</div>
<div style="width:100%">
	<div id="hotel" style="min-width:100%;height:400px"></div>
</div>


@section Scripts
	{
		api/HotelChartApi/GetHotelSales
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script>
		//user柱狀圖分析
		const container = document.querySelector('#member');
		let data = {};
		axios.get("")
			.then(response => {
				data = response.data;
				const Age = Object.keys(data.payingMemberAgeGroup);
				const paying = Object.values(data.payingMemberAgeGroup);
				const nonPaying = Object.values(data.nonPayingMemberAgeGroup);
				const female = Object.values(data.female);
				const male = Object.values(data.male);
				let myChart = Highcharts.chart(container, {
					chart: {
						type: "column",
					},
					title: {
						text: "會員年齡分佈",
					},
					subtitle: {
						text: "會員總數" + data.totalMember,
					},
					credits: {
						enabled: false
					},
					legend: {
						// 圖例設定
					},
					tooltip: {
						// 提示框設定
					},
					xAxis: {
						categories: Age,
					},
					yAxis: {
						title: {
							text: "人數"
						}
					},
					series: [{
						name: "已消費會員",
						data: paying
					},
					{
						name: "未消費會員",
						data: nonPaying
					},
					{
						name: "男性",
						data: male
					},
					{
						name: "女性",
						data: female
					}]
				});
			}).catch(err => {
				alert('測試');
			});
		//user柱狀圖分析

		axios.get("/api/HotelChartApi/GetHotelSales").then(response => {
			var chart = Highcharts.chart('hotel', {
				chart: {
					type: 'pie',
					options3d: {
						enabled: true,
						alpha: 45,
						beta: 0
					}
				},
				title: {
					text: '2014XXX '
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						depth: 35,
						dataLabels: {
							enabled: true,
							format: '{point.name}'
						}
					}
				},
				series: [{
					type: 'pie',
					name: '浏览器占比',
					data: response.data
				}]
			});
		}).catch(err => {
			alert(err)
		});
	</script>
}