@section Styles
	{
	
}

@* user柱狀圖分析 *@
<div style="width:100%">
	<div id="member" style="min-width:100%;height:400px"></div>
</div>

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">男女會員佔比</button>
		<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">年齡佔比</button>
		<button class="nav-link" id="nav-getIsPayAndNoPaying-tab" data-bs-toggle="tab" data-bs-target="#nav-getIsPayAndNoPaying" type="button" role="tab" aria-controls="nav-getIsPayAndNoPaying" aria-selected="false">已/未消費會員佔比</button>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	@* 會員男女佔比圓餅圖 *@
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<figure class="highcharts-figure">
			<div id="genderGroup"></div>
			<p class="highcharts-description">
				<i>*OPPO includes OnePlus since Q3 2021</i><br><br>
				Chart demonstrating the use of a 3D pie layout.
				The "Xiaomi" slice has been selected, and is offset from the pie.
				Click on slices to select and unselect them.
				Note that 3D pies, while decorative, can be hard to read, and the
				viewing angles can make slices close to the user appear larger than they
				are.
			</p>
		</figure>
	</div>
	@* 會員男女佔比圓餅圖 *@

	@* 各年齡層佔比 *@
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		<figure class="highcharts-figure">
			<div id="ageGroup"></div>
			<p class="highcharts-description">
				<i>*OPPO includes OnePlus since Q3 2021</i><br><br>
				Chart demonstrating the use of a 3D pie layout.
				The "Xiaomi" slice has been selected, and is offset from the pie.
				Click on slices to select and unselect them.
				Note that 3D pies, while decorative, can be hard to read, and the
				viewing angles can make slices close to the user appear larger than they
				are.
			</p>
		</figure>
	</div>
	@* 各年齡層佔比 *@

	@* 各年齡層佔比 *@
	<div class="tab-pane fade" id="nav-getIsPayAndNoPaying" role="tabpanel" aria-labelledby="nav-getIsPayAndNoPaying-tab">
		<div id="getIsPayAndNoPaying" style="height: 400px"></div>
	</div>
	@* 各年齡層佔比 *@
</div>





@section Scripts
	{
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script>
		//user柱狀圖分析
		axios.get("/api/UserChart/GetUsers")
			.then(response => {
				const Age = Object.keys(response.data.payingMemberAgeGroup);
				const paying = Object.values(response.data.payingMemberAgeGroup);
				const nonPaying = Object.values(response.data.nonPayingMemberAgeGroup);
				const female = Object.values(response.data.female);
				const male = Object.values(response.data.male);
				let myChart = Highcharts.chart('member', {
					chart: {
						type: "column",
					},
					title: {
						text: "會員年齡分佈",
					},
					subtitle: {
						text: "會員總數" + response.data.totalMember,
					},
					credits: {
						enabled: false
					},
					legend: {
						// 圖例設定
					},
					tooltip: {
						// 提示框設定
					},
					xAxis: {
						categories: Age,
					},
					yAxis: {
						title: {
							text: "人數"
						}
					},
					series: [{
						name: "已消費會員",
						data: paying
					},
					{
						name: "未消費會員",
						data: nonPaying
					},
					{
						name: "男性",
						data: male
					},
					{
						name: "女性",
						data: female
					}]
				});
			}).catch(err => {
				alert('會員年齡分佈數據異常,請聯絡系統管理員');
			});
		//user柱狀圖分析

		//UserPie圓餅圖
		axios.get("/api/UserChart/GetUserGender")
			.then(response => {
				let femaleCount = 0;
				let maleCount = 0;
				response.data.forEach(item => {
					if (item.name === "男性") maleCount = item.y;
					if (item.name === "女性") femaleCount = item.y;
				});
				Highcharts.chart('genderGroup', {
					chart: {
						type: 'pie',
						options3d: {
							enabled: true,
							alpha: 45,
							beta: 0
						}
					},
					title: {
						text: '男性會員/女性會員佔比',
						align: 'center'
					},
					subtitle: {
						text: `男性會員:${maleCount}<br/>女性會員:${femaleCount}`,
						align: 'left'
					},
					accessibility: {
						point: {
							valueSuffix: '%'
						}
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							depth: 45,
							dataLabels: {
								enabled: true,
								format: '{point.name}'
							}
						}
					},
					series: [{
						type: 'pie',
						name: '佔比',
						data: response.data
					}]
				});
			}).catch(err => {
				alert('User男女佔比數據異常，請聯絡管理員')
			});
		//UserPie圓餅圖

		//會員年齡層佔比
		axios.get("/api/UserChart/GetUserAgeGroup")
			.then(response => {
				Highcharts.chart('ageGroup', {
					chart: {
						type: 'pie',
						options3d: {
							enabled: true,
							alpha: 45,
							beta: 0
						}
					},
					title: {
						text: '各年齡層佔比',
						align: 'center'
					},
					subtitle: {
						text: '',
						align: 'left'
					},
					accessibility: {
						point: {
							valueSuffix: '%'
						}
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							depth: 45,
							dataLabels: {
								enabled: true,
								format: '{point.name}'
							}
						}
					},
					series: [{
						type: 'pie',
						name: '佔比',
						data: response.data
					}]
				});
			}).catch(err => {
				alert('各年齡層佔比數據異常，請聯絡管理員')
			});
		//會員年齡層佔比

		//已消費/未消費會員佔比
		axios.get("/api/UserChart/GetIsPayAndNoPaying")
			.then(response => {
				Highcharts.chart('getIsPayAndNoPaying', {
					chart: {
						type: 'pie',
						options3d: {
							enabled: true,
							alpha: 45,
							beta: 0
						}
					},
					title: {
						text: '已/未消費會員佔比',
						align: 'center'
					},
					subtitle: {
						text: '',
						align: 'left'
					},
					accessibility: {
						point: {
							valueSuffix: '%'
						}
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							depth: 45,
							dataLabels: {
								enabled: true,
								format: '{point.name}'
							}
						}
					},
					series: [{
						type: 'pie',
						name: '佔比',
						data: response.data
					}]
				});
			}).catch(err => {
				alert('已/未消費會員佔比數據異常，請聯絡管理員')
			});

	</script>
}