@section Styles{
	<link href="~/css/book.css" rel="stylesheet" />
}

<div id="app">
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-4">
			<img class="img" src="~/lib/image/mountain3.jpeg" />
		</div>
		<div class="col-md-8">
			<img class="img" src="~/lib/image/snowboard.jpg" />
		</div>
	</div>
	<br>
	<div class="row search">
		<div class="col-md-2"><a class="btn btn-primary" href="#" role="button" style="">地點</a></div>
		<div class="col-md-2"><a class="btn btn-primary" href="#" role="button" style="">搜尋</a></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2"><a href="#" role="button">排序</a></div>
		<div class="col-md-2" btn-sort><a href="#" role="button" style="color: red;">依熱門程度</a></div>
		<div class="col-md-2" btn-sort><a href="#" role="button">金額高到低</a></div>
		<div class="col-md-2" btn-sort><a href="#" role="button">距離最近</a></div>
		<div class="col-md-2"></div>
	</div>
	<br>
	<div id="app" class="row">
		<div class="col-md-3">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							所有商品種類
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<div><a href="#">飯店</a></div>
							<div><a href="#">民宿</a></div>
							<div><a href="#">露營</a></div>
							<div><a href="#">渡假村</a></div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card" v-for="b in books">
				<div class="row">
					<div class="col-md-3 card-img">
						<img class="img-book" src="~/lib/image/mountain.jpeg" />
					</div>
					<div class="col-md-7 card-body">
						<h5 class="card-title">{{b.productName}}</h5>
						<p class="card-text">{{b.mainDescribe}}</p>
					</div>
					<div class="col-md-2 card-end">
						<span class="product-price">NT {{b.price}}</span>
						<button class="btn btn-sequence">查看價格</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

	<script>
		var baseAddress = "https://localhost:7025";

		new Vue({
			el: '#app',
			data: {
				books: []
			},
			mounted: function () {
				var _this = this;
				fetch(`${baseAddress}/api/BookApi/GetBooks`, { method: 'GET' })
					.then(response => {
						if (response.ok) {
							return response.json();
						}
					}).then(data => {
						_this.books = data;
					}).catch(error => {
						alert(error);
					})
			},
			method: {

			}
		})
	</script>
}