@{
	ViewData["Title"] = "住宿";
}

@section Styles{
	<link href="~/css/book.css" rel="stylesheet" />
}

<section id="app" class="accomodation_area">
	<div class="container">
		@* 列表 *@
		<div class="row">
			<div class="col-md-2">
				<div class="blog_right_sidebar">
					<aside class="single_sidebar_widget post_category_widget">
						<h4 class="widget_title">商品種類</h4>
						<ul class="list_style cat-list">
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>飯店</p>
								</a>
							</li>
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>民宿</p>
								</a>
							</li>
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>露營區</p>
								</a>
							</li>
							<li>
								<a href="#" class="d-flex justify-content-between">
									<p>渡假村</p>
								</a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			@* 商品區 *@
			<div class="col-md-10">
				<div class="filter-panel d-flex justify-content-between">
					@* 商品名稱搜尋 *@
					<div class="search">
						<span class="title_color search-title">搜尋：</span>
						<input class="inp-search" v-model="search" type="text" placeholder="請輸入關鍵字..." />
					</div>
					@* 排序 *@
					<div class="sort d-flex align-items-center">
						<div>
							<h4 class="title_color sort-title">排序：</h4>
						</div>
						<h4>
							<span class="">
								<a href="#"><i class="fas fa-fire"></i>熱門程度</a>
							</span>
							<span>|</span>
							<span class="">
								<a href="#" v-on:click="priceSort"><i class="fas fa-funnel-dollar"></i>金額高低</a>
							</span>
						</h4>
					</div>
				</div>
				@* 商品 *@
				<div class="row product-items" v-for="b in booksfilter">
					<div class="col-md-3">
						<img class="img-product" :src="b.img" />
					</div>
					<div class="col-md-7 d_flex align-items-center">
						<div class="about_content ">
							<h2 class="title title_color">{{b.productName}}</h2>
							<span>{{b.mainDescribe}}</span>
						</div>
					</div>
					<div class="col-md-2">
						<span class="product-price">${{b.price}}起</span>
						<a :href="'/Book/Plan/'+b.productId" class="button_hover theme_btn_two info">選擇方案</a>
					</div>
				</div>
			</div>
		</div>
		@* 分頁 *@
		<nav class="blog-pagination justify-content-center d-flex">
			<ul class="pagination">
				<li class="page-item">
					<a href="#" class="page-link" aria-label="Previous">
						<span aria-hidden="true">
							<span class="lnr lnr-chevron-left"><</span>
						</span>
					</a>
				</li>
				<li class="page-item"><a href="#" class="page-link">01</a></li>
				<li class="page-item"><a href="#" class="page-link">02</a></li>
				<li class="page-item"><a href="#" class="page-link">03</a></li>
				<li class="page-item"><a href="#" class="page-link">04</a></li>
				<li class="page-item"><a href="#" class="page-link">...</a></li>
				<li class="page-item">
					<a href="#" class="page-link" aria-label="Next">
						<span aria-hidden="true">
							<span class="lnr lnr-chevron-right">></span>
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</section>


@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	

	<script>
		var baseAddress = "https://localhost:7025";

		new Vue({
			el: '#app',
			data: {
				books: [],
				search: '',
				priceOrderby: [],
				count: 0
			},

			//取得住宿類別
			mounted: function () {
				var _this = this;
				fetch(`${baseAddress}/api/BookApi/GetBooks`, { method: 'GET' })
					.then(response => {
						if (response.ok) {
							return response.json();
						}
					}).then(data => {
						_this.books = data;
					}).catch(error => {
						alert(error);
					})
			},
			methods: {
				//價格排序
				priceSort: function () {
					var _this = this;
					_this.count++;
					if (_this.count % 2 != 0) {
						fetch(`${baseAddress}/api/BookApi/BookOrderbyPrice`, { method: "GET" })
							.then(response => {
								if (response.ok) return response.json();
							}).then(data => {
								_this.books = data;
							}).catch(error => {
								alert(error);
							});
					}
					else {
						fetch(`${baseAddress}/api/BookApi/BookOrderByDescendingPrice`, { method: "GET" })
							.then(response => {
								if (response.ok) return response.json()
							}).then(data => {
								_this.books = data
							}).catch(error => {
								alert(error)
							})
					}
				}
			},
			computed: {
				booksfilter: function () {
					return this.books.filter(b => b.productName.match(this.search))
				}
			}
		})
	</script>
}