@{
    ViewData["Title"] = "景點";
}

@section Styles{
    <link href="~/css/attractions.css" rel="stylesheet" />
}

<section id="app" class="accomodation_area">
    <div class="container">
        @* 列表 *@
        <div class="row">
            <div class="col-md-2">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">商品種類</h4>
                        <ul class="list_style cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>遊樂園</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>景點</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>戶外活動</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>展覽</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            @* 商品 *@
            <div class="col-md-10">
                <div class="filter-panel d-flex justify-content-between">
                    @* 商品名稱搜尋 *@
                    <div class="search">
                        <span class="title_color search-title">搜尋：</span>
                        <input class="inp-search" v-model="search" type="text" placeholder="請輸入商品名稱" />
                    </div>
                    @* 排序 *@
                    <div class="sort d-flex align-items-center">
                        <div>
                            <h4 class="title_color sort-title">排序：</h4>
                        </div>
                        <h4>
                            <span>
                                <a href="#"><i class="fas fa-fire"></i>熱門程度</a>
                            </span>
                            <span>|</span>
                            <span>
                                <a href="#" v-on:click="priceSort"><i class="fas fa-funnel-dollar"></i>金額高低</a>
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row product-items" v-for="a in showProduct">
                    <div class="col-md-3">
                        <img class="img-product" :src="a.img" />
                    </div>
                    <div class="col-md-7 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">{{a.productName}}</h2>
                            <span>{{a.mainDescribe}}</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <span class="product-price">${{a.price}}起</span>
                        <a :href="'/Attractions/Plan/'+a.productId" class="button_hover theme_btn_two info">選擇方案</a>
                    </div>
                </div>
            </div>
        </div>

        @* 分頁 *@
        <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
                <paginate :page-count="total"
                          :click-handler="changePage"
                          :page-class="'page-item'"
                          :page-link-class="'page-link'"
                          :prev-class="'page-link'"
                          :prev-link-class="'lnr lnr-chevron-left'"
                          :next-class="'page-link'"
                          :next-link-class="'lnr lnr-chevron-right'"
                          :container-class="'pagination'">
                </paginate>
            </ul>
        </nav>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
    <script>
        Vue.component('paginate', VuejsPaginate)
        var baseAddress = "https://localhost:7025";
        var app = new Vue({
            el: '#app',
            data: {
                attractions: [],
                count: 0,
                search: "",
                currentPage: 1,
                itemPage: 10
            },
            mounted: function () {
                let _this = this;
                fetch(`${baseAddress}/api/AttractionsApi/GetCategoryByAttractions`, { method: 'GET' })
                    .then(response => {
                        if (response.ok) return response.json();
                    }).then(data => {
                        _this.attractions = data;
                    }).catch(error => {
                        alert(error);
                    })
            },
            methods: {
                priceSort: function () {
                    let _this = this;
                    _this.count++;
                    if (_this.count % 2 != 0) {
                        fetch(`${baseAddress}/api/AttractionsApi/OrderByPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.attractions = data;
                            }).catch(error => {
                                alert(error);
                            })
                    } else {
                        fetch(`${baseAddress}/api/AttractionsApi/OrderByDescendingPrice`, { method: "GET" })
                            .then(response => {
                                if (response.ok) return response.json();
                            }).then(data => {
                                _this.attractions = data;
                            }).catch(error => {
                                alert(error);
                            })
                    }
                },

                //分頁
                changePage: function (num) {
                    this.currentPage = num;
                }
            },
            computed: {
                //關鍵字搜尋
                attractionsFilter: function () {
                    return this.attractions.filter(a => a.productName.match(this.search));
                },

                //分頁
                showProduct: function () {
                    var start = (this.currentPage - 1) * this.itemPage;
                    var end = start + this.itemPage;
                    return this.attractionsFilter.slice(start, end);
                },
                total: function () {
                    return Math.ceil(this.attractions.length / this.itemPage);
                }
            }
        })
    </script>
}