@{
    ViewData["Title"] = "景點方案";
}

@section Styles{
    <link href="~/css/attractions-plan.css" rel="stylesheet" />
}

<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Transport Plan</h2>
        </div>
    </div>
</section>

<section id="app" class="about_history_area section_gap">
    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-plan-tab" data-bs-toggle="tab" data-bs-target="#nav-plan" type="button" role="tab" aria-controls="nav-plan" aria-selected="true">方案</button>
                <button class="nav-link" id="nav-caption-tab" data-bs-toggle="tab" data-bs-target="#nav-caption" type="button" role="tab" aria-controls="nav-caption" aria-selected="false">商品說明</button>
                <button class="nav-link" id="nav-describe-tab" data-bs-toggle="tab" data-bs-target="#nav-describe" type="button" role="tab" aria-controls="nav-describe" aria-selected="false">購買須知</button>
                <button class="nav-link" id="nav-rating-tab" data-bs-toggle="tab" data-bs-target="#nav-rating" type="button" role="tab" aria-controls="nav-rating" aria-selected="false">評價</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-plan" role="tabpanel" aria-labelledby="nav-plan-tab"></div>
            <div class="tab-pane fade" id="nav-caption" role="tabpanel" aria-labelledby="nav-caption-tab"></div>
            <div class="tab-pane fade" id="nav-describe" role="tabpanel" aria-labelledby="nav-describe-tab"></div>
            <div class="tab-pane fade" id="nav-rating" role="tabpanel" aria-labelledby="nav-rating-tab"></div>
        </div>
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color"></h2>
                    <p></p>
                    <a href="#" class="button_hover theme_btn_two">Request Custom Price</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/lib/image/mountain2.jpeg" />
            </div>
        </div>
    </div>

    <div class="card" v-for="p in plan">
        <div class="row">
            <div class="col-md-3">
                <img class="img-plan" src="~/lib/image/mountain2.jpeg" />
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-md-2 card-end">
                <button class="btn theme_btn button_hover" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">選擇</button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>選擇日期</h2>
                            <template>
                                <div>
                                    <date-picker v-model="time1" valueType="format"></date-picker>
                                </div>
                            </template>
                        </div>
                        <div class="col-md-6">
                            <h2>選擇項目</h2>
                            <div>
                                <span>數量：</span>
                                <br />
                                <span>金額：</span>
                                <span>NT0</span>
                            </div>
                            <div>
                                <a class="btn theme_btn button_hover">加入購物車</a>
                                <a class="btn theme_btn button_hover">立即訂購</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{
    <script src="~/js/transport-plan.js"></script>
}