@{
    ViewData["Title"] = "景點方案";
}

@section Styles{
    <link href="~/css/attractions-plan.css" rel="stylesheet" />
    <style>
        .img-map {
            width: 100%;
            border-radius: 10px;
        }

        .btn-settle {
            width: 100%;
            background-color: #4EEEC6;
            color: white;
        }

            .btn-settle:hover {
                background-color: darkturquoise;
                color: white;
            }
    </style>
}

@*選轉木馬*@
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-product" src="~/lib/image/mountain3.jpeg" />
            </div>
            <div class="carousel-item">
                <img class="img-product" src="~/lib/image/mountain3.jpeg" />
            </div>
            <div class="carousel-item">
                <img class="img-product" src="~/lib/image/mountain3.jpeg" />
            </div>
            <div class="carousel-item">
                <img class="img-product" src="~/lib/image/mountain3.jpeg" />
            </div>
            <div class="carousel-item">
                <img class="img-product" src="~/lib/image/mountain3.jpeg" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@*商品介紹*@
<div class="container">
    <nav>
        <ul class="pagination">
            <li class=" product-li">
                <button class="btn btn-switch page-1">全部</button>
            </li>
            <li class=" product-li">
                <button class="btn btn-switch page-2">商品方案</button>
            </li>
            <li class=" product-li">
                <button class="btn btn-switch page-3">商品說明</button>
            </li>
            <li class=" product-li">
                <button class="btn btn-switch page-4">購買須知</button>
            </li>
            <li class=" product-li">
                <button class="btn btn-switch page-5">商品評價</button>
            </li>
        </ul>
    </nav>
</div>

@*商品方案*@
<div class="container plan">
    @*方案選擇*@
    <div>
        <div class="row">
            <div class="col-md-8 offset-2 text-center">
                <h2 class="title">八卦山一日遊</h2>
                <div class="sub-descripts">
                    <p>嚴選機場接駁，最快可訂購當日 6 小時後搭車，價錢還比搭計程車便宜，不需排隊等計程車</p>
                    <p>訓練有素的司機用專業熱情的態度迎接旅客，舒適又快速載你直達桃園機場</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-plan" src="~/lib/image/mountain2.jpeg" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">八卦山一日遊</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-2 card-end">
                    <button class="btn btn-heart"><i class="fa-solid fa-heart fa-2xl"></i></button>
                    <div class="plan-price">NT 699</div>
                    <button class="btn btn-plan" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">選擇</button>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col-md-6">
                            <h4>選擇日期</h4>
                            <div></div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">選擇項目</h4>
                            <label class="">數量：</label>
                            <input type="text" />
                            <button class="btn btn-settle">結帳</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-plan" src="~/lib/image/mountain2.jpeg" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">八卦山一日遊+豪華晚餐</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-2 card-end">
                    <button class="btn btn-heart"><i class="fa-solid fa-heart fa-2xl"></i></button>
                    <div class="plan-price">NT 1299</div>
                    <button class="btn btn-plan" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">選擇</button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col-md-6">
                            <h4>選擇日期</h4>
                            <div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">選擇項目</h4>
                            <label class="label-quantity">數量：</label>
                            <input class="inp-quantity" type="text" />
                            <button class="btn btn-settle">結帳</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-plan" src="~/lib/image/mountain2.jpeg" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h3 class="card-title">八卦山一日遊+豪華晚餐+住宿</h3>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-2 card-end">
                    <button class="btn btn-heart"><i class="fa-solid fa-heart fa-2xl"></i></button>
                    <div class="plan-price">NT 9999</div>
                    <button class="btn btn-plan" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">選擇</button>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="row accordion-body">
                        <div class="col-md-6">
                            <h4>選擇日期</h4>
                            <div></div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">選擇項目</h4>
                            <label class="">數量：</label>
                            <input type="text" />
                            <button class="btn btn-settle">結帳</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*商品說明*@
<div class="container caption">
    <div>
        <div class="row product-descripts">
            <div class="col-md-8 text-center">
                <h2 class="title">商品說明</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-caption" src="~/lib/image/mountain.jpeg" />
                    </div>
                    <div class="col-md-8">
                        <p class="sub-descripts">場次設定僅供參考使用，非上車時間，如用車時間為 12:15，請選擇 12:00 場次；如用車時間為 23:40，請選擇 23:00 場次，以此類推，但實際接送時間將依照旅客航班資訊為主。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="img-map" src="~/lib/image/mountain2.jpeg" />
            </div>
        </div>

        <div>
            <div>
                <h4 class="sub-title">兌換方式</h4>
                <p class="sub-descripts">QRCode</p>
            </div>
            <div>
                <h4 class="sub-title">最新資訊</h4>
                <p class="sub-descripts">
                    接機
                    - 接機時間：司機將於飛機降落時間在機場舉牌接您上車
                    - 緩沖時間：司機將等候 90 分鐘，若尚未出關，會視同自願放棄，恕不退費
                    - 接載時間為 22:00 ~ 07:00 的範圍內，需現場另收夜間服務費用 NT$200
                    - 班機提早抵達：依班機實際抵達時間等候90分鐘
                    - 班機延遲抵達：延遲時間1小時內，司機將依班機實際抵達時間於現場等候90分鐘。延遲時間超過1小時，請抵達後聯絡KKday客服重新安排車輛，若無法搭乘將全額退費
                </p>
                <p class="sub-descripts">
                    送機
                    - 接載時間為 22:00 ~ 07:00 的範圍內，需現場另收夜間服務費用 NT$200
                    - 送機時間：司機將於飛機起飛前 3 小時至指定地點接您上車，司機資料及車牌號碼於出發前一天 20:00 前 (GMT+8)，以訂單訊息提供。
                    ＊緩衝時間：司機將等待30分鐘，若尚未出現，將會視同自願放棄，恕不退費。
                    ＊若於「訂單備註」欄位填寫指定上車時間，等候緩衝時間為 30 分鐘，敬請知悉。
                </p>
            </div>
            <div>
                <h4 class="sub-title">票卷介紹</h4>
                <p class="sub-descripts">
                    不需額外加價地點：
                    -台北市：中正、大同、中山、松山、大安、萬華、信義、內湖、南港、士林（山區除外）、北投（山區除外）
                    -新北市：板橋、永和、中和、土城、三峽（山區除外）、樹林、鶯歌、三重、新莊、泰山、林口、蘆洲、五股、八里
                </p>
                <p class="sub-descripts">
                    需加收額外費用地點（現場支付加價費用給司機）：
                    NT$300：文山、士林山區、淡水市區（其他另議）、貓空、汐止(山區除外)、深坑、新店、安坑、文山山區
                    NT$600：新店(偏遠地區)、陽明山、烏來、五堵、瑞芳、九份、基隆
                    NT$1,200：萬里、金山（含陽明山天籟酒店）、石碇、平溪、三芝、三峽山區
                    NT$2,000：雙溪、貢寮
                </p>
            </div>
        </div>
    </div>
</div>

@*購買須知*@
<div class="container describe">
    <div>
        <h2 class="title">購買須知</h2>
        <ul>
            <li>
                <p>
                    購票時請主動出示相關證件供售票處工作人員驗證，相關證件說明如下：
                    學生票：本人有效學生證正本(若為應屆畢業生則提供當年度正式入學通知單或註冊單及攜帶身分證)。
                    兒童票、長者票（博愛票）：身心障礙證明、孕婦健康手冊、國民身分證或政府核發附有照片、身分證字號及出生年、月、日等足以證明身分證件。
                </p>
            </li>
        </ul>
    </div>
</div>

@*商品評價*@
<div class="container rating">
    <div>
        <h2 class="title">商品評價</h2>
        <hr />
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-user" src="~/lib/image/foreast.jpeg" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">會員一</h5>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <p>2023/08/04</p>
                        <div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-user" src="~/lib/image/foreast.jpeg" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">會員二</h5>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <p>2023/08/04</p>
                        <div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-user" src="~/lib/image/foreast.jpeg" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">會員三</h5>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <p>2023/08/04</p>
                        <div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-user" src="~/lib/image/foreast.jpeg" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">會員四</h5>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <p>2023/08/04</p>
                        <div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-user" src="~/lib/image/foreast.jpeg" />
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">會員五</h5>
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                        <p>2023/08/04</p>
                        <div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/transport-plan.js"></script>
}